<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Indent Capture'" [imgSrc]="'assets/layout/images/icons/indent-entry.png'">
            <button pButton pRipple (click)="showInsertDialog()" type="button" icon="pi pi-plus" label="New Entry"
                class="p-button-rounded p-button-raised"></button>
        </app-common-header>
    </div>
    <div class="col-12">
        <!-- Skeleton -->
        <app-dynamic-table (actionButtonClicked)="handleButtonClick($event)" [numberRowsShown]="10"
            rowSelectionMode="multiple" [rowsPerPageOptions]="[10,30,50]" [actionButtons]="tableActionButton"
            [headers]="tableData!.headers" [data]="tableData.data" [dataCount]="tableData.dataCount">
        </app-dynamic-table>
    </div>
</div>

<p-dialog header="Stamp Indent" [(visible)]="displayInsertModal" [modal]="true" [style]="{width: '45vw'}" [baseZIndex]="10000">
    <form [formGroup]="stampIndentForm" class="flex flex-column gap-4 mt-3">
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="memoNo" class="block mb-1 font-medium text-900">Memo No:</label>
                <input type="text" pinputtext="" formControlName="memoNo" placeholder="Eg: MEMO5256" class="p-inputtext p-component p-element w-full">
                <div *ngIf="stampIndentForm.controls['memoNo'].errors && (stampIndentForm.controls['memoNo'].dirty || stampIndentForm.controls['memoNo'].touched)">
                    <small class="p-error" *ngIf="stampIndentForm.controls['memoNo'].errors['required']">Memo No is required.</small>
                </div>
            </div>
            <div class="flex-auto">
                <label for="memoDate" class="block mb-1 font-medium text-900">Memo Date</label>
                <p-calendar class="p-component p-element w-full p-calendar" formControlName="memoDate" placeholder="mm/dd/yyyy" appendTo="body" [showIcon]="true" inputId="icon"></p-calendar>
                <div *ngIf="stampIndentForm.controls['memoDate'].errors && (stampIndentForm.controls['memoDate'].dirty || stampIndentForm.controls['memoDate'].touched)">
                    <small class="p-error" *ngIf="stampIndentForm.controls['memoDate'].errors['required']">Memo Date is required.</small>
                </div>
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="col-12 p-0 flex-auto">
              <label for="Category" class="block mb-1 font-medium text-900">Combination</label>
              <app-stamp-combination-dropdown
                (StampCombinationSelected)="onStampCombinationSelected($event)"
              ></app-stamp-combination-dropdown>
            </div>
          </div>
          
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-1">
                <label for="toTreasury" class="block mb-1 font-medium text-900">To Treasury (<span class="font-medium text-gray-900">Default: </span> <span class="font-medium text-gray-500">Superintendent</span>)</label>
                <app-treasury-dropdown (treasurySelected)="onTreasurySelected($event)"></app-treasury-dropdown>
            </div>
            <div class="flex-1">
                <label for="Description" class="block mb-1 font-medium text-900">Description</label>
                <input type="text" pinputtext="" [value]="description" readonly disabled class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="denomination" class="block mb-1 font-medium text-900">Denomination (Rs.)</label>
                <input type="number" pinputtext="" [value]="denomination" readonly disabled class="p-inputtext p-component p-element w-full">
            </div>
            <div class="flex-auto">
                <label for="labelPerSheet" class="block mb-1 font-medium text-900">Label/Sheet</label>
                <input type="text" pinputtext="" [value]="labelPerSheet" readonly disabled class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="noOfSheets" class="block mb-1 font-medium text-900">No: of Sheets</label>
                <input type="number" pinputtext="" formControlName="noOfSheets" [(ngModel)]="sheet" (ngModelChange)="sheetSelected($event)" placeholder="Eg: 10" class="p-inputtext p-component p-element w-full">
                <div *ngIf="stampIndentForm.controls['noOfSheets'].errors && (stampIndentForm.controls['noOfSheets'].dirty || stampIndentForm.controls['noOfSheets'].touched)">
                    <small class="p-error" *ngIf="stampIndentForm.controls['noOfSheets'].errors['required']">No of Sheets is required.</small>
                    <small class="p-error" *ngIf="stampIndentForm.controls['noOfSheets'].errors['pattern']">No of Sheets must be a valid number.</small>
                </div>
            </div>
            <div class="flex-auto">
                <label for="noOfLabels" class="block mb-1 font-medium text-900">No: of Labels</label>
                <input type="number" pinputtext="" formControlName="noOfLabels" [(ngModel)]="label" (ngModelChange)="labelSelected($event)" placeholder="Eg: 10" class="p-inputtext p-component p-element w-full">
                <div *ngIf="stampIndentForm.controls['noOfLabels'].errors && (stampIndentForm.controls['noOfLabels'].dirty || stampIndentForm.controls['noOfLabels'].touched)">
                    <small class="p-error" *ngIf="stampIndentForm.controls['noOfLabels'].errors['required']">No of Labels is required.</small>
                    <small class="p-error" *ngIf="stampIndentForm.controls['noOfLabels'].errors['pattern']">No of Labels must be a valid number.</small>
                </div>
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="quantity" class="block mb-1 font-medium text-900">Quantity</label>
                <input type="text" pinputtext="" readonly disabled [value]="quantity" class="p-inputtext p-component p-element w-full">
            </div>
            <div class="flex-auto">
                <label for="amount" class="block mb-1 font-medium text-900">Amount (Rs.)</label>
                <input type="text" pinputtext="" readonly disabled [value]="amount" class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="col-12 p-0 flex-auto">
              <label for="remarks" class="block mb-1 font-medium text-900">Remarks</label>
              <textarea
                type="text"
                pinputtext=""
                formControlName="remarks"
                placeholder="Eg: Indent for Kolkata treasury."
                class="p-inputtext p-component p-element w-full"
              ></textarea>
              <div *ngIf="stampIndentForm.controls['remarks'].errors && (stampIndentForm.controls['remarks'].dirty || stampIndentForm.controls['remarks'].touched)">
                <small class="p-error" *ngIf="stampIndentForm.controls['remarks'].errors['required']">Remarks are required.</small>
                <small class="p-error" *ngIf="stampIndentForm.controls['remarks'].errors['minlength']">Remarks must be at least {{ stampIndentForm.controls['remarks'].errors['maxlength'].requiredLength }} characters long.</small>
              </div>
            </div>
          </div>
          
    </form>
    <div class="flex gap-2 justify-content-end pt-3">
        <p-button [loading]="loading" label="Submit" (click)="addStampIndent()" class="rounded">
        </p-button>
    </div>
</p-dialog>



