<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Indent Capture'" [imgSrc]="'assets/layout/images/icons/indent-entry.png'">
            <button pButton pRipple (click)="showInsertDialog()" type="button" icon="pi pi-plus" label="New Entry"
                class="p-button-rounded p-button-raised"></button>
        </app-common-header>
    </div>
    <div class="col-12">
        <app-dynamic-table (actionButtonClicked)="handleButtonClick($event)" [numberRowsShown]="10"
            rowSelectionMode="multiple" [rowsPerPageOptions]="[10,30,50]" [actionButtons]="tableActionButton"
            [headers]="tableData!.headers" [data]="tableData.data" [dataCount]="tableData.dataCount">
        </app-dynamic-table>
    </div>
</div>

<p-dialog header="Stamp Indent" [(visible)]="displayInsertModal" [modal]="true" [style]="{width: '50vw'}"
    [baseZIndex]="10000">
    <form [formGroup]="stampIndentForm" class="flex flex-column gap-4 mt-3">
        <div class="flex gap-2">
            <div class="flex-auto">
                <label for="Memo No:" class="block mb-1 text-color text-lg">Memo No:</label>
                <input type="text" pinputtext="" formControlName="memoNo" placeholder="Eg: MEMO5256"
                    class="p-inputtext p-component p-element w-full">
            </div>
            <div class="flex-auto">
                <label for="Memo Date" class="block mb-1 text-color text-lg">Memo Date</label>
                <p-calendar class="p-component p-element w-full p-calendar" formControlName="memoDate" placeholder="dd/mm/yyyy"
                    appendTo="body" [showIcon]="true" inputId="icon"></p-calendar>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="col-12 p-0 flex-auto">
                <label for="Category" class="block mb-1 text-color text-lg">Combination</label>
                <app-stamp-combination-dropdown
                    (StampCombinationSelected)="onStampCombinationSelected($event)"></app-stamp-combination-dropdown>
            </div>    
        </div>
        <div class="flex gap-2">
            <div class="flex-1">
                <label for="To Treasury" class="block mb-1 text-color text-lg">To Treasury (<span class="font-medium text-gray-900">Default: </span> <span class="font-medium text-green-400">SUPERINTENDENT</span>)</label>
                <app-treasury-dropdown (treasurySelected)="onTreasurySelected($event)"></app-treasury-dropdown>
            </div>
            <div class="flex-1">
                <label for="Description" class="block mb-1 text-color text-lg">Description</label>
                <input type="text" pinputtext="" [value]="description" readonly
                class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2">
            <div class="flex-auto">
                <label for="Denomination (Rs.)" class="block mb-1 text-color text-lg">Denomination (Rs.)</label>
                <input type="number" pinputtext="" [value]="denomination" readonly
                    class="p-inputtext p-component p-element w-full">
            </div>
            <div class="flex-auto">
                <label for="Label/Sheet" class="block mb-1 text-color text-lg">Label/Sheet</label>
                <input type="text" pinputtext="" [value]="labelPerSheet" readonly
                    class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2">
            <div class="flex-auto">
                <label for="No: of Sheets" class="block mb-1 text-color text-lg">No: of Sheets</label>
                <input type="number" pinputtext="" formControlName="noOfSheets" [(ngModel)]="sheet" (ngModelChange)="sheetSelected($event)" placeholder="Eg: 10"
                    class="p-inputtext p-component p-element w-full">
            </div>
            <div class="flex-auto">
                <label for="No: of Labels" class="block mb-1 text-color text-lg">No: of Labels</label>
                <input type="number" pinputtext="" formControlName="noOfLabels" [(ngModel)]="label" (ngModelChange)="labelSelected($event)" placeholder="Eg: 10"
                    class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2">
            <div class="flex-auto">
                <label for="Quantity" class="block mb-1 text-color text-lg">Quantity</label>
                <input type="text" pinputtext="" readonly [value]="quantity"
                    class="p-inputtext p-component p-element w-full">
            </div>
            <div class="flex-auto">
                <label for="Amount (Rs.)" class="block mb-1 text-color text-lg">Amount (Rs.)</label>
                <input type="text" pinputtext="" readonly [value]="amount"
                    class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2">
            <div class="col-12 p-0 flex-auto">
                <label for="Remarks" class="block mb-1 text-color text-lg">Remarks</label>
                <textarea type="text" pinputtext="" formControlName="remarks" placeholder="Eg: Indent for Kolkata treasury."
                    class="p-inputtext p-component p-element w-full"></textarea>
            </div>
        </div>
    </form>
    <div class="flex gap-2 justify-content-end pt-3">
        <button pbutton="" pripple="" label="Submit" (click)="addStampIndent()"
            class="p-element p-ripple p-button-rounded p-button p-component">
            <span class="p-button-label">Submit</span><span class="p-ink"></span>
        </button>
    </div>
</p-dialog>


