.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.status-approved, .status-not-approved {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  margin: 5px 0;
}


.status-approved {
  background-color: #e0f7fa !important;
  color: #00796b !important;
}

.status-approved::before {
  content: "\2713"; 
  margin-right: 10px;
  color: #00796b;
  font-size: 20px;
}


.status-not-approved {
  background-color: #ffebee !important;
  color: #c62828 !important;
}

.status-not-approved::before {
  content: "\2717"; 
  margin-right: 10px;
  color: #c62828;
  font-size: 20px;
}
