<div class="grid">
    <!-- <div class="col-12">
        <div class="grid">
            <div class="col">
                <div class="grid nested-grid">
                    <div class="col-fixed">
                        <img
                            src="assets/layout/images/icons/bill-check.png"
                            alt="logo"
                            height="60"
                        />
                    </div>
                    <div class="col-11">
                        <div class="text-900 font-bold text-3xl mb-1">
                            Bill Checking
                        </div>
                        <div class="text-700 text-1xl line-height-3">Token List.</div>
                    </div>
                </div>
            </div>
            <div class="col-fixed">
                <button pButton pRipple label="Close" type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-raised" [routerLink]="['/']"></button>
            </div>
        </div>
    </div> -->
    <div class="col-12">
        <app-common-header
            [headerName]="'Bill Checking'"
            [imgSrc]="'assets/layout/images/icons/bill-check.png'"
        >
            <button
                pButton
                pRipple
                type="button"
                icon="pi pi-times"
                label="Close"
                class="p-button-rounded p-button-danger p-button-raised"
                (click)="closeButton($event)"
            ></button>
        </app-common-header>
    </div>
    <div class="col-12">
        <!-- <app-token-list apiPath="Token/GetTokens" listType="bill-cheking" actionLable="Bill Check"
            actionIcon="pi pi-check-circle">
        </app-token-list> -->
        <br>
        <!-- <app-dynamic-table dataURL="v1/Token/GetTokens" listType="bill-cheking" [actionButtons]="tableActionButton" rowSelectionMode="none" (rowSelect)="handleRowSelection($event)" (actionButtonClicked)="handleButtonClick($event)"></app-dynamic-table> -->
    <app-dynamic-table
    size="small"
        [numberRowsShown]="10"
        rowSelectionMode="multiple"
        [rowsPerPageOptions]="[10,30,50]"
        [headers]="tableData.headers" 
        [data]="tableData.data" 
        [dataCount]="1"
        [actionButtons]="tableActionButton"
        (rowSelect)="handleRowSelection($event)" 
        (actionButtonClicked)="handleButtonClick($event)"
        (queryParameterChange)="handQueryParameterChange($event)" (searchKeyChange)="handleSearchKeyChange($event)">
    </app-dynamic-table>
    <br>
    <!-- <mh-prime-dynamic-table size="small" [numberRowsShown]="10"
    [rowsPerPageOptions]="[10,30,50]"
    [headers]="tableData.headers" 
    [data]="tableData.data" 
    [dataCount]="tableData.dataCount"
    [actionButtons]="tableActionButton"
    (rowSelect)="handleRowSelection($event)" 
    (actionButtonClicked)="handleButtonClick($event)"
    (queryParameterChange)="handQueryParameterChange($event)">></mh-prime-dynamic-table> -->
    </div>
</div>