<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Discount Details'" [imgSrc]="'assets/layout/images/icons/discount-entry.png'">
            <div class="flex gap-4">
                <button pButton pRipple type="button" (click)="showCalculateDialog()" icon="pi pi-calculator"
                    label="Calculate Discount" class="p-button-rounded p-button-raised"></button>
                <button pButton pRipple type="button" icon="pi pi-plus" label="New Entry"
                    class="p-button-rounded p-button-raised" (click)="showInsertDialog()"></button>
            </div>
        </app-common-header>
    </div>
    <div class="col-12">
        <app-dynamic-table (actionButtonClicked)="handleButtonClick($event)" [numberRowsShown]="10"
            rowSelectionMode="multiple" [rowsPerPageOptions]="[5,10,50]" [actionButtons]="tableActionButton"
            [headers]="tableData!.headers" [data]="tableData.data" [dataCount]="tableData.dataCount">
        </app-dynamic-table>
    </div>
</div>

<p-dialog [style]="{width: '30rem'}" header="Calculate Discount" [modal]="true" [(visible)]="displayCalculateModal">
    <form [formGroup]="calculateDiscountForm" class="px-4">
        <div class="flex align-items-center gap-3 mb-3 mt-2">
            <label for="vendorType" class="font-semibold w-8rem">Vendor Type</label>
            <app-vendor-type-dropdown class="flex-1"
                (vendorTypeSelected)="onVendorTypeSelected($event)"></app-vendor-type-dropdown>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="stampCategory" class="font-semibold w-8rem">Stamp Category</label>
            <app-stamp-category-type-dropdown (CategoryTypeSelected)="onStampCategorySelected($event)"
                class="flex-1"></app-stamp-category-type-dropdown>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="amount" class="font-semibold w-8rem">Amount</label>
            <input formControlName="amount" pInputText id="amount" type="number" class="flex-1" autocomplete="off" />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
            <label for="discount" class="font-semibold w-8rem">Discount</label>
            <input pInputText id="discount" [value]="discount" readonly disabled class="flex-1" autocomplete="off" />
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="calculate" (click)="calculateDiscount()"></p-button>
            <p-button label="Cancel" severity="secondary" (click)="displayCalculateModal = false"></p-button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Discount Details Entry" [(visible)]="displayInsertModal" [modal]="true" [style]="{width: '30vw'}"
    [baseZIndex]="10000">
    <form [formGroup]="discountDetailsEntryForm" class="flex flex-column gap-4 mt-3 w-full">
        <div class="flex gap-2 xl:flex-row flex-1 flex-column">
            <div class="flex-1">
                <label for="denominationFrom" class="block mb-1 font-medium text-900">From</label>
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-angle-double-right"></i>
                    <input formControlName="denominationFrom" type="number" pinputtext=""
                        class="p-inputtext p-component p-element w-full">
                </span>
                <div
                    *ngIf="discountDetailsEntryForm.controls['denominationFrom'].errors && (discountDetailsEntryForm.controls['denominationFrom'].dirty || discountDetailsEntryForm.controls['denominationFrom'].touched)">
                    <small class="p-error"
                        *ngIf="discountDetailsEntryForm.controls['denominationFrom'].errors['required']">Denomination
                        From is required.</small>
                    <small class="p-error"
                        *ngIf="discountDetailsEntryForm.controls['denominationFrom'].errors['min']">Denomination From
                        must be greater than or equal to 0.</small>
                </div>
            </div>
            <div class="flex-1">
                <label for="denominationTo" class="block mb-1 font-medium text-900">To</label>
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-stop-circle"></i>
                    <input formControlName="denominationTo" type="number" pinputtext=""
                        class="p-inputtext p-component p-element w-full">
                </span>
                <div
                    *ngIf="discountDetailsEntryForm.controls['denominationTo'].errors && (discountDetailsEntryForm.controls['denominationTo'].dirty || discountDetailsEntryForm.controls['denominationTo'].touched)">
                    <small class="p-error"
                        *ngIf="discountDetailsEntryForm.controls['denominationTo'].errors['required']">Denomination To
                        is required.</small>
                    <small class="p-error"
                        *ngIf="discountDetailsEntryForm.errors?.['greaterThan']">Denomination
                        To must be greater than Denomination From.</small>
                </div>
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-1 flex-column w-full">
            <div class="flex-1">
                <label for="vendorType" class="block mb-1 font-medium text-900">Vendor Type</label>
                <app-vendor-type-dropdown 
                    (vendorTypeSelected)="onVendorTypeSelected($event)"></app-vendor-type-dropdown>
            </div>
            <div class="flex-1">
                <label for="stampCategory" class="block mb-1 font-medium text-900">Stamp Category</label>
                <app-stamp-category-type-dropdown (CategoryTypeSelected)="onStampCategorySelected($event)"
                    ></app-stamp-category-type-dropdown>
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-1 flex-column">
            <div class="col-12 p-0 flex-1">
                <label for="discount" class="block mb-1 font-medium text-900">Discount</label>
                <input formControlName="discount" type="number" pinputtext="" placeholder="Eg: 20"
                    class="p-inputtext p-component p-element w-full">
                <div
                    *ngIf="discountDetailsEntryForm.controls['discount'].errors && (discountDetailsEntryForm.controls['discount'].dirty || discountDetailsEntryForm.controls['discount'].touched)">
                    <small class="p-error"
                        *ngIf="discountDetailsEntryForm.controls['discount'].errors['required']">Discount is
                        required.</small>
                    <small class="p-error"
                        *ngIf="discountDetailsEntryForm.controls['discount'].errors['greaterThanZero']">Discount must be
                        greater than 0.</small>
                </div>
            </div>
        </div>
        <div class="flex gap-2 justify-content-end pt-3">
            <button pbutton="" pripple="" (click)="addDiscountDetails()" label="Submit"
                class="p-element p-ripple p-button-rounded p-button p-component">
                <span class="p-button-label">Submit</span><span class="p-ink"></span>
            </button>
        </div>
    </form>
</p-dialog>