<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Discount Details'" [imgSrc]="'assets/layout/images/icons/discount-entry.png'">
            <div class="flex gap-4">
                <button pButton pRipple type="button" (click)="showCalculateDialog()" icon="pi pi-calculator"
                    label="Calculate Discount" class="p-button-rounded p-button-raised"></button>
                <button pButton pRipple type="button" icon="pi pi-plus" label="New Entry"
                    class="p-button-rounded p-button-raised" (click)="showInsertDialog()"></button>
            </div>
        </app-common-header>
    </div>
    <div class="col-12">
        <app-dynamic-table (actionButtonClicked)="handleButtonClick($event)" [numberRowsShown]="10"
            rowSelectionMode="multiple" [rowsPerPageOptions]="[5,10,50]" [actionButtons]="tableActionButton"
            [headers]="tableData!.headers" [data]="tableData.data" [dataCount]="tableData.dataCount">
        </app-dynamic-table>
    </div>
</div>

<p-dialog [style]="{width: '30rem'}" header="Calculate Discount" [modal]="true" [(visible)]="displayCalculateModal">
    <form [formGroup]="calculateDiscountForm" class="px-4">
        <div class="flex align-items-center gap-3 mb-3 mt-2">
            <label for="Vendor Type" class="font-semibold w-8rem">Vendor Type</label>
            <app-vendor-type-dropdown class="flex-auto" (vendorTypeSelected)="onVendorTypeSelected($event)"></app-vendor-type-dropdown>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="Stamp Category" class="font-semibold w-8rem">Stamp Category</label>
            <app-stamp-category-type-dropdown (CategoryTypeSelected)="onStampCategorySelected($event)"
                class="flex-auto"></app-stamp-category-type-dropdown>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="Amount" class="font-semibold w-8rem">Amount</label>
            <input formControlName="amount" pInputText id="amount" type="number" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
            <label for="Discount" class="font-semibold w-8rem">Discount</label>
            <input pInputText id="discount" [value]="discount" readonly class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Calculate" (click)="calculateDiscount()"></p-button>
            <p-button label="Cancel" severity="secondary" (click)="displayCalculateModal = false"></p-button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Discount Details Entry" [(visible)]="displayInsertModal" [modal]="true" [style]="{width: '30vw'}"
    [baseZIndex]="10000">
    <form [formGroup]="discountDetailsEntryForm" class="flex flex-column gap-4 mt-3">
        <div class="flex gap-2">
            <div class="flex-auto">
                <label for="From" class="block mb-1 text-color text-lg">From</label>
                <span class="p-input-icon-left w-full"><i class="pi pi-angle-double-right"></i>
                    <input formControlName="denominationFrom" type="number" pinputtext=""
                        class="p-inputtext p-component p-element w-full">
                </span>
            </div>
            <div class="flex-auto">
                <label for="To" class="block mb-1 text-color text-lg">To</label>
                <span class="p-input-icon-left w-full"><i class="pi pi-stop-circle"></i>
                    <input formControlName="denominationTo" type="number" pinputtext=""
                        class="p-inputtext p-component p-element w-full">
                </span>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="flex-auto">
                <label for="Vendor Type" class="block mb-1 text-color text-lg">Vendor Type</label>
                <app-vendor-type-dropdown class="flex-auto" (vendorTypeSelected)="onVendorTypeSelected($event)"></app-vendor-type-dropdown>
            </div>
            <div class="flex-auto">
                <label for="Stamp Category" class="block mb-1 text-color text-lg">Stamp Category</label>
                <app-stamp-category-type-dropdown (CategoryTypeSelected)="onStampCategorySelected($event)"
                    class="flex-auto"></app-stamp-category-type-dropdown>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="col-12 p-0 flex-auto">
                <label for="Discount" class="block mb-1 text-color text-lg">Discount</label>
                <input formControlName="discount" type="number" pinputtext="" placeholder="Eg: 20"
                    class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2 justify-content-end pt-3">
            <button pbutton="" pripple="" (click)="addDiscountDetails()" label="Submit" class="p-element p-ripple p-button-rounded p-button p-component">
                <span class="p-button-label">Submit</span><span class="p-ink"></span>
            </button>
        </div>
    </form>
</p-dialog>
