<div class="flex justify-center card mx-6  ">
    
    <br>

            <div class="p-fluid p-formgrid grid md:col-12    ">
                <div class="col-12 md:call-12 " ><h5>Pension Details </h5></div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="PPO ID">PPO ID</label>
                    <input pInputText id="PPO ID" type="text" />
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="PPO NO">PPO NO</label>
                    <input pInputText id="PPO NO" type="text" />
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="Pensioner Name">Pensioner Name</label>
                    <input pInputText id="Pensioner Name" type="text" />
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="Period From">Period From</label>
                    <input pInputText id="Period From" type="date" />
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="Period To">Period To</label>
                    <input pInputText id="Period To" type="date" />
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="Bank Name">Bank Name</label>
                    <input pInputText id="Bank Name" type="text" />
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="Account NO">Account NO</label>
                    <input pInputText id="Account NO" type="number" class="remove-arrow" />
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="Bill Date">Bill Date</label>
                    <input pInputText id="Bill Date" type="date" />
                </div>
                <div class="field col-12 md:col-4">
					<label htmlFor="Payment Mode">Payment Mode</label>
					<p-dropdown [options]="dropdownItems" optionLabel="name" [(ngModel)]="selectedMode"></p-dropdown>
				</div>
            </div>

</div>
