<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Label Entry'" [imgSrc]="'assets/layout/images/icons/label-entry.png'">
            <button pButton pRipple type="button" icon="pi pi-plus" label="New Entry"
                class="p-button-rounded p-button-raised" (click)="showInsertDialog()"></button></app-common-header>
    </div>
    <div class="col-12">
        <app-dynamic-table (actionButtonClicked)="handleButtonClick($event)"
        [numberRowsShown]="10" rowSelectionMode="multiple" [rowsPerPageOptions]="[10,30,50]"
            [actionButtons]="tableActionButton" [headers]="tableData!.headers" [data]="tableData.data"
            [dataCount]="tableData.dataCount">
        </app-dynamic-table>
    </div>
</div>


<p-dialog header="Category Entry" [(visible)]="displayInsertModal" [modal]="true" [style]="{width: '30vw'}"
    [baseZIndex]="10000">
    <form [formGroup]="labelEntryForm" class="flex flex-column gap-4 mt-3">
        <div class="flex gap-2">
            <div class="col-12 p-0">
                <label for="No: of label/sheet" class="block mb-1 text-color text-lg">No: of label/sheet</label>
                <input formControlName="noLabelPerSheet" type="number" pinputtext="" placeholder="Eg: 20"
                    class="p-inputtext p-component p-element w-full">
                <div *ngIf="labelEntryForm.controls['noLabelPerSheet'].errors && (labelEntryForm.controls['noLabelPerSheet'].dirty || labelEntryForm.controls['noLabelPerSheet'].touched)">
                    <small class="p-error" *ngIf="labelEntryForm.controls['noLabelPerSheet'].errors['required']">Number of labels per sheet is required.</small>
                    <small class="p-error" *ngIf="labelEntryForm.controls['noLabelPerSheet'].errors['min']">Number of labels per sheet must be at least 1.</small>
                </div>
            </div>
        </div>
    </form>
    <div class="flex gap-2 justify-content-end pt-3">
        <button pbutton="" pripple="" label="Submit" (click)="addLabel()" class="p-element p-ripple p-button-rounded p-button p-component">
            <span class="p-button-label">Submit</span><span class="p-ink"></span>
        </button>
    </div>
</p-dialog>