<div class="flex justify-center card mx-6  ">
    <div class="col-12">
        <h5>Component Detail</h5>
        <p-toast></p-toast>
        <p-table [value]="products" dataKey="name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <button pButton icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}" label="{{isExpanded ? 'Collapse All' : 'Expand All'}}" (click)="expandAll()"></button>
                <div class="flex table-header">
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>

                    <th pSortableColumn="Component Id">Component Id<p-sortIcon field="Component Id"></p-sortIcon></th>
                    <th pSortableColumn="Description">Description<p-sortIcon field="Component Id"></p-sortIcon></th>
                    <th pSortableColumn="Component Id">From Date<p-sortIcon field="Component Id"></p-sortIcon></th>
                    <th pSortableColumn="Component Id">To Date<p-sortIcon field="Component Id"></p-sortIcon></th>
                    <th pSortableColumn="Component Id">Rate<p-sortIcon field="Component Id"></p-sortIcon></th>
                    <th pSortableColumn="Component Id">Net Amount<p-sortIcon field="Component Id"></p-sortIcon></th>
                    <th pSortableColumn="Component Id">Remark<p-sortIcon field="Component Id"></p-sortIcon></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td style="min-width: 12rem;">


                    </td>
                    <td style="min-width: 12rem;">{{product.name}}</td>
                    <td><img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td>
                    <!-- <td style="min-width: 8rem;">{{product.price | currency:'USD'}}</td> -->
                    <!-- <td style="min-width: 10rem;">{{product.category}}</td> -->
                    <!-- <td style="min-width: 10rem;"><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
                    <!-- <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td> -->
                </tr>
            </ng-template>
    </p-table>
    </div>
</div>
