<div class="grid fadein animation-duration-500">
  
    <app-option-card  logo='stamp' optionName="PPO Details" class="col-12 lg:col-6 xl:col-3" [routerLink]="['ppodetails']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Sanction" class="col-12 lg:col-6 xl:col-3" [routerLink]="['pposanction']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Classification" class="col-12 lg:col-6 xl:col-3" [routerLink]="['ppodetails']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Family-Nominee" class="col-12 lg:col-6 xl:col-3" [routerLink]="['ppodetails']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Transfer To" class="col-12 lg:col-6 xl:col-3" [routerLink]="['ppodetails']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Transfer From" class="col-12 lg:col-6 xl:col-3" [routerLink]="['ppodetails']"></app-option-card>
  
  </div>
  
  
    