<div class="grid fadein animation-duration-500">
    <app-option-card  logo='stamp' optionName="Component" class="col-12 lg:col-6 xl:col-3" [routerLink]="['component']"></app-option-card>
    <app-option-card  logo='label' optionName="Component Rate" class="col-12 lg:col-6 xl:col-3" [routerLink]="['component-rate']"></app-option-card>



    <app-option-card  logo='stamp' optionName="Primary Category" class="col-12 lg:col-6 xl:col-3" [routerLink]="['app-primary']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Pension Category" class="col-12 lg:col-6 xl:col-3" [routerLink]="['app-pension-category']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Sub Category" class="col-12 lg:col-6 xl:col-3" [routerLink]="['app-sub-category']"></app-option-card>
</div>

