<div class="card" *ngIf="subHeadDetails">
    <p-table [value]="subHeadDetails"  [tableStyle]="{ 'max-width': '100rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Sl No </th>
                <th>Head Of A/c</th>
                <th>Allotment Amount</th>
                <th>Previous Balance</th>
                <th>Adjusted Amount</th>
                <th>Balance Amount</th>
                <th>Sub Detail Head</th>
                <th>OverDrawal Amount</th>
                <th>Final Project Details</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-allotmentDetail let-i="rowIndex">
            <!-- <p>{{allotmentDetail.allotments|json}}</p> -->
            <tr>
                <td class="text-center">{{ i+1 }}</td>
                <td class="text-center">{{ billservice.generateHOAChain(allotmentDetail.allotments.hoaChain) }}</td>
                <td class="text-center">{{ allotmentDetail.allotments?.allotmentAmount }}</td>
                <td class="text-center">{{ allotmentDetail.allotments?.previousBalance }}</td>
                <td class="text-center">{{ allotmentDetail.allotments?.adjustedAmount }}</td>
                <td class="text-center">{{ allotmentDetail.allotments?.balanceAmount }}</td>
                <td class="text-center">{{ allotmentDetail.allotments?.subDetailHead }}</td>
                <td class="text-center">{{ allotmentDetail.allotments?.overDrawalAmount }}</td>
                <td class="text-center">{{ allotmentDetail.allotments?.finalProjectDetails }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td ></td>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Total Bill Amount</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Insufficient Amount	</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</div>

