<div class="container">
  <form [formGroup]="ppoForm" (ngSubmit)="onSearch()">
    <!-- Transferred PPO Search Details -->
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <h5>Transferred PPO Search Details:</h5>
        <div class="formgroup-inline">
          <label for="transferredPpoNo" class="col-12 mb-2 md:col-2 md:mb-0">Transferred PPO No:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input id="transferredPpoNo" type="text" pInputText formControlName="transferredPpoNo" placeholder="Transferred PPO No" />
          </div>
          <div class="flex flex-wrap gap-2">
            <button pButton type="button" icon="pi pi-search"></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Manual/E-PPO Search Details -->
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <h5>Manual/E-PPO Search Details:</h5>
        <div class="formgroup-inline">
          <label for="ePpoSearchDetails" class="col-12 mb-2 md:col-3 md:mb-0">e-PPO Application No/TRID:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input id="ePpoSearchDetails" type="text" pInputText formControlName="ePpoSearchDetails" placeholder="E-PPO Application No/TRID" />
          </div>
          <div class="flex flex-wrap gap-2">
            <button pButton type="button" icon="pi pi-search"></button>
          </div>
        </div>
      </div>
    </div>

    <!-- PPO Status Details -->
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <h5>PPO Status Details:</h5>
        <div class="formgroup-inline">
          <label for="pensionerStatus" class="col-12 mb-2 md:col-2 md:mb-0">Pensioner's Status:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input id="pensionerStatus" type="text" pInputText formControlName="pensionerStatus" placeholder="Pensioner's Status" />
          </div>
          <label for="ppoApprovalFlag" class="col-12 mb-2 md:col-2 md:mb-0">PPO Approval Flag:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-selectButton [options]="[{label: 'Yes', value: true}, {label: 'No', value: false}]" formControlName="ppoApprovalFlag"></p-selectButton>
          </div>
          <label for="ppoApproveDate" class="col-12 mb-2 md:col-2 md:mb-0">PPO Approve Date:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-calendar [showIcon]="true" inputId="icon" formControlName="ppoApproveDate"></p-calendar>
          </div>
        </div>
      </div>
    </div>

    <!-- PPO Details -->
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <h5>PPO Details:</h5>
        <div class="formgroup-inline">
          <label for="ppoId" class="col-12 mb-2 md:col-2 md:mb-0">PPO ID:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="ppoId" />
          </div>
          <label for="ppoNo" class="col-12 mb-2 md:col-2 md:mb-0">PPO No.:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="ppoNo" />
          </div>
          <label for="pensionerName" class="col-12 mb-2 md:col-2 md:mb-0">Pensioner Name:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="pensionerName" />
          </div>
          <label for="type" class="col-12 mb-2 md:col-2 md:mb-0">Type:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-dropdown [options]="[{label: 'Pension', value: 'pension'}, {label: 'Bank', value: 'bank'}]" formControlName="type"></p-dropdown>
          </div>
          <label for="subType" class="col-12 mb-2 md:col-2 md:mb-0">Sub Type:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-dropdown [options]="[{label: 'Pension', value: 'pension'}, {label: 'Bank', value: 'bank'}]" formControlName="subType"></p-dropdown>
          </div>
          <label for="catDescription" class="col-12 mb-2 md:col-2 md:mb-0">Cat Description:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="catDescription" />
          </div>
          <label for="commencementDate" class="col-12 mb-2 md:col-2 md:mb-0">Commencement Date:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-calendar formControlName="commencementDate" [showIcon]="true"></p-calendar>
          </div>
          <label for="notionalBasicPension" class="col-12 mb-2 md:col-2 md:mb-0">Notional Basic Pension:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="notionalBasicPension" />
          </div>
          <label for="withEffectiveDate" class="col-12 mb-2 md:col-2 md:mb-0">With Effective Date:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-calendar formControlName="withEffectiveDate" [showIcon]="true"></p-calendar>
          </div>
          <label for="reducedPension" class="col-12 mb-2 md:col-2 md:mb-0">Reduced Pension:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="reducedPension" />
          </div>
          <label for="effectiveDate" class="col-12 mb-2 md:col-2 md:mb-0">Effective Date:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-calendar formControlName="effectiveDate" [showIcon]="true"></p-calendar>
          </div>
          <label for="commutedPension" class="col-12 mb-2 md:col-2 md:mb-0">Commuted Pension:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="commutedPension" />
          </div>
          <label for="upto" class="col-12 mb-2 md:col-2 md:mb-0">Upto:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-calendar formControlName="upto" [showIcon]="true"></p-calendar>
          </div>
          <label for="familyPension" class="col-12 mb-2 md:col-2 md:mb-0">Family Pension:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="familyPension" />
          </div>
        </div>
      </div>
    </div>
    

    <!-- Bank Details -->
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <h5>Bank Details:</h5>
        <div class="formgroup-inline">
          <label for="payMode" class="col-12 mb-2 md:col-2 md:mb-0">Pay Mode:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-dropdown [options]="[{label: 'Treasury', value: 'treasury'}, {label: 'Bank', value: 'bank'}]" formControlName="payMode"></p-dropdown>
          </div>
          <label for="bankBranchName" class="col-12 mb-2 md:col-2 md:mb-0">Bank-Branch Name:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input id="bankBranchName" type="text" pInputText formControlName="bankBranchName" placeholder="Bank-Branch Name" />
          </div>
          <label for="accountNo" class="col-12 mb-2 md:col-2 md:mb-0">Account No:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input id="accountNo" type="text" pInputText formControlName="accountNo" placeholder="Account No" />
          </div>
          <label for="accountHolder" class="col-12 mb-2 md:col-2 md:mb-0">Account Holder:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input id="accountHolder" type="text" pInputText formControlName="accountHolder" placeholder="Account Holder" />
          </div>
          <label for="ifscCode" class="col-12 mb-2 md:col-2 md:mb-0">IFSC Code:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input id="ifscCode" type="text" pInputText formControlName="ifscCode" placeholder="IFSC Code" />
          </div>
        </div>
      </div>
    </div>

    <!-- Other Details -->
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <h5>Other Details:</h5>
        <div class="formgroup-inline">
          <label for="religion" class="col-12 mb-2 md:col-2 md:mb-0">Religion:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-dropdown [options]="religionOptions" formControlName="religion"></p-dropdown>
          </div>
          <label for="firstPensionGenerated" class="col-12 mb-2 md:col-2 md:mb-0">First Pension Generated:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-radioButton name="firstPensionGenerated" value="yes" formControlName="firstPensionGenerated" label="Yes"></p-radioButton>
            <p-radioButton name="firstPensionGenerated" value="no" formControlName="firstPensionGenerated" label="No"></p-radioButton>
          </div>
          <label for="panNo" class="col-12 mb-2 md:col-2 md:mb-0">PAN No.:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="panNo" />
          </div>
          <label for="mobileNo" class="col-12 mb-2 md:col-2 md:mb-0">Mobile No.:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="mobileNo" />
          </div>
          <label for="aadharNo" class="col-12 mb-2 md:col-2 md:mb-0">Aadhar No.:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="aadharNo" />
          </div>
          <label for="healthScheme" class="col-12 mb-2 md:col-2 md:mb-0">Health Scheme:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-radioButton name="healthScheme" value="yes" formControlName="healthScheme" label="Yes"></p-radioButton>
            <p-radioButton name="healthScheme" value="no" formControlName="healthScheme" label="No"></p-radioButton>
          </div>
          <label for="gpfTpfNo" class="col-12 mb-2 md:col-2 md:mb-0">GPF/TPF No.:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <input pInputText formControlName="gpfTpfNo" />
          </div>
          <label for="subDiv" class="col-12 mb-2 md:col-2 md:mb-0">Sub Div:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-dropdown [options]="subDivOptions" formControlName="subDiv"></p-dropdown>
          </div>
          <label for="doublePension" class="col-12 mb-2 md:col-2 md:mb-0">Double Pension:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-checkbox formControlName="doublePension" [binary]="true"></p-checkbox>
          </div>
          <label for="employedPensioner" class="col-12 mb-2 md:col-2 md:mb-0">Employed Pensioner:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-radioButton name="employedPensioner" value="yes" formControlName="employedPensioner" label="Yes"></p-radioButton>
            <p-radioButton name="employedPensioner" value="no" formControlName="employedPensioner" label="No"></p-radioButton>
          </div>
          <label for="reEmployed" class="col-12 mb-2 md:col-2 md:mb-0">Re-Employed:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-radioButton name="reEmployed" value="yes" formControlName="reEmployed" label="Yes"></p-radioButton>
            <p-radioButton name="reEmployed" value="no" formControlName="reEmployed" label="No"></p-radioButton>
          </div>
          <label for="address" class="col-12 mb-2 md:col-2 md:mb-0">Address:</label>
          <div class="field col-12 mb-2 lg:col-10 lg:mb-0">
            <input pInputText formControlName="address" />
          </div>
          <label for="remarks" class="col-12 mb-2 md:col-2 md:mb-0">Remarks:</label>
          <div class="field col-12 mb-2 lg:col-10 lg:mb-0">
            <input pInputText formControlName="remarks" />
          </div>
          <label for="adhocPension" class="col-12 mb-2 md:col-2 md:mb-0">Adhoc Pension:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-checkbox formControlName="adhocPension" [binary]="true"></p-checkbox>
          </div>
          <label for="provisionalPension" class="col-12 mb-2 md:col-2 md:mb-0">Provisional Pension:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-checkbox formControlName="provisionalPension" [binary]="true"></p-checkbox>
          </div>
          <label for="interimAllowance" class="col-12 mb-2 md:col-2 md:mb-0">Interim Allowance:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-checkbox formControlName="interimAllowance" [binary]="true"></p-checkbox>
          </div>
          <label for="sharedPension" class="col-12 mb-2 md:col-2 md:mb-0">Shared Pension:</label>
          <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
            <p-checkbox formControlName="sharedPension" [binary]="true"></p-checkbox>
          </div>
        </div>
      </div>
    </div>
    
    

    <div class="flex flex-wrap gap-2">
      <button pButton type="submit" label="Search"></button>
    </div>
  </form>
</div>
