<form [formGroup]="BankDetailsForm" >
    <p-fieldset legend="Bank Details" class="line-height-3 m-0">
        <div class="p-fluid">
            <div class="formgroup-inline">
                <label for="payMode" class="col-12 mb-2 md:col-2 md:mb-0">Pay Mode:</label>
                <div class="field col-12 mb-2 lg:col-4 lg:mb-0 ">
                    <p-dropdown
                        [options]="[{label: 'Treasury', value: 'treasury'}, {label: 'Bank', value: 'bank'}]"
                        formControlName="payMode"></p-dropdown>
                </div>
                <label for="bankBranchName" class="col-12 mb-2 md:col-2 md:mb-0">Bank-Branch
                    Name:</label>
                <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                    <input id="bankBranchName" type="text" pInputText
                        formControlName="bankBranchName" placeholder="Bank-Branch Name" />
                </div>
            </div>
            <div class="formgroup-inline">
                <label for="accountNo" class="col-12 mb-2 md:col-2 md:mb-0">Account
                    No:</label>
                <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                    <input id="accountNo" type="text" pInputText formControlName="accountNo"
                        placeholder="Account No" />
                </div>
                <label for="accountHolderName" class="col-12 mb-2 md:col-2 md:mb-0">Account
                    Holder:</label>
                <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                    <input id="accountHolderName" type="text" pInputText
                        formControlName="accountHolderName" placeholder="Account Holder" />
                </div>
            </div>
            <div class="formgroup-inline">
                <label for="ifscCode" class="col-12 mb-2 md:col-2 md:mb-0">IFSC
                    Code:</label>
                <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                    <input id="ifscCode" type="text" pInputText formControlName="IFSCCode"
                        placeholder="IFSC Code" />
                </div>
            </div>
        </div>
    </p-fieldset>
</form>