<!-- <div class="grid"> -->
<div class="col-12">
    <app-common-header [headerName]="'New  Invoice'" [imgSrc]="'assets/layout/images/icons/cheque.png'">
    </app-common-header>
</div>
<form [formGroup]="invoiceForm">
    <div class="grid flex flex-wrap">
        <div class="col-6">
            <div class="card">
                <div class="flex flex-wrap gap-3 p-fluid">
                    <div class="flex-auto">
                        <label for="indent_date" class="block mb-1 text-color text-lg">Invoice Date <span
                                class="text-red-500 text-lg font-bold">*</span></label>
                        <p-calendar [showIcon]="true" inputId="icon" formControlName="invoiceDate"></p-calendar>
                    </div>

                    <div class="flex-auto">
                        <label for="memo_no" class="block mb-1 text-color text-lg">Invoice Number <span
                                class="text-red-500 text-lg font-bold">*</span></label>
                        <input type="text" pinputtext="" placeholder="1234-1234-1234-1234"
                            class="p-inputtext p-component p-element w-full" formControlName="invoiceNumber">
                    </div>
                </div>
                <div class="flex flex-wrap gap-3 p-fluid mt-5">
                    <div class="flex-auto">
                        <label for="memo_date" class="block mb-1 text-color text-lg">Indent Id</label>
                        <input type="text" pInputText="" class="p-inputtext p-component p-element w-full"
                            formControlName="indentId" readonly>
                    </div>

                    <div class="flex-auto">
                        <label for="remarks" class="block mb-1 text-color text-lg">Indent Date</label>
                        <p-calendar [showIcon]="true" inputId="icon" formControlName="indentDate" dateFormat="dd-mm-yy"
                            disable></p-calendar>
                    </div>
                </div>
                <p-divider align="left">
                    <div class="inline-flex align-items-center">
                        <i class="pi pi-money-bill mr-2"></i>
                        <b>Requested Cheque Indent</b>
                    </div>
                </p-divider>
                <!-- <div class="grid grid-nogutter static bg-primary-100 border-round border-primary border-solid text-gray-800 p-3" style="min-width: 300px; min-height: 60px;"> -->
                <div class="grid grid-nogutter surface-ground static border-2 border-round border-primary border-solid text-gray-800 p-3"
                    style="min-width: 300px; min-height: 60px;">
                    <div class="col-4  flex">
                        <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                            Cheque Types:
                        </div>
                        <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                            {{chequeIndentDetails.chequeIndentDeatils && chequeIndentDetails.chequeIndentDeatils[0] ?
                            (chequeIndentDetails.chequeIndentDeatils[0].chequeType===1) ? 'Treasury Cheque' : 'Others' :
                            'N/A'}}
                        </div>
                    </div>
                    <div class="col-5 flex">
                        <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                            MICR Code:
                        </div>
                        <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                            {{chequeIndentDetails.chequeIndentDeatils[0].micrCode}}
                        </div>
                    </div>
                    <div class="col-3 flex">
                        <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                            Quantity:
                        </div>
                        <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                            {{chequeIndentDetails.chequeIndentDeatils[0].quantity}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <!-- <div formArrayName="seriesGroupArray"> -->
            <!-- <div class="card relative" *ngFor="let series of seriesGroupArray.controls ; let i = index"
                    [formGroupName]="i"> -->
            <div class="card mb-2">
                <!-- -------------------------- Series Card [Start] -------------------------- -->
                <div class="flex flex-wrap gap-3 p-fluid">
                    <div class="flex-auto gap-3">
                        <label for="series" class="block mb-1 text-color text-lg">Select MICR 
                            <span class="text-red-500 text-lg font-bold">*</span></label>
                        <p-dropdown [options]="micrList" placeholder="Select series" optionLabel="name"
                            [showClear]="true" optionValue="code" formControlName="micr_code"
                            (onChange)="getMicrDetails()">
                            <!-- <ng-template pTemplate="selectedItem">
                                        <div class="country-item country-item-value" *ngIf="seriesGroupArray.value[i].series">
                                            <div>aaa</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-series pTemplate="item" *ngIf="seriesGroupArray.value[i].series != 14">
                                        <div class="country-item" >
                                            <div>{{series.name}}</div>
                                        </div>
                                    </ng-template> -->
                        </p-dropdown>
                    </div>
                    <div class="flex-auto">
                        <label for="Start" class="block mb-1 text-color text-lg">Availability</label>
                        <input type="number" pinputtext="" placeholder="Availability"
                            class="p-inputtext p-component p-element w-full" formControlName="availability"
                            optionValue="code">

                    </div>
                    <!-- <div class="flex-auto">
                                <label for="end" class="block mb-1 text-color text-lg">End</label>
                                <input type="number" pinputtext="" placeholder="End"
                                    class="p-inputtext p-component p-element w-full" formControlName="end">
                            </div> -->
                    <div class="flex-auto">
                        <label for="quantity" class="block mb-1 text-color text-lg">Quantity <span
                                class="text-red-500 text-lg font-bold">*</span></label>
                        <input type="number" pinputtext="" placeholder="Quantity"
                            class="p-inputtext p-component p-element w-full " formControlName="quantity"
                            aria-describedby="quantity-error">
                        <small id="quantity-error"
                            *ngIf="invoiceForm.get('quantity')?.hasError('compareQuantities') && invoiceForm.get('quantity')?.touched"
                            class="p-error">Less than or equal to Availability</small>
                    </div>
                </div>
                <!-- ------------------------- Series Card [END] ------------------------- -->
                <!-- --------------------------- X Remove Button --------------------------- -->
                <!-- <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-danger minus_button" (click)="removeSeries(i)"
                            *ngIf="seriesGroupArray.length>1"></button> -->
                <!-- ---------------------------- + Add Button ----------------------------- -->
                <!-- <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded plus_button"
                            (click)="addNewSeries()" *ngIf="seriesGroupArray.length===i+1"></button> -->
            </div>

            <div class="card overflow-auto" *ngIf="micrDetailsList != null && micrDetailsList.length > 0">
                <div style="height: 145px">
                    <div class="grid grid-nogutter surface-ground static border-2 border-round border-primary border-solid text-gray-800 p-3 mb-3 "
                        style="min-width: 300px; min-height: 60px;" *ngFor="let micrSeriesList of micrDetailsList">
                        <div class="col-4  flex">
                            <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                                treasurieCode
                            </div>
                            <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                                {{micrSeriesList.treasurieCode}}
                            </div>
                        </div>
                        <div class="col-5 flex">
                            <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                                MICR Code:
                            </div>
                            <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                                {{micrSeriesList.micrCode}}
                            </div>
                        </div>
                        <div class="col-3 flex">
                            <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                                series
                            </div>
                            <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                                {{micrSeriesList.series}}
                            </div>
                        </div>
                        <div class="col-4 flex">
                            <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                                Quantity:
                            </div>
                            <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                                {{micrSeriesList.quantity}}
                            </div>
                        </div>
                        <div class="col-5 flex">
                            <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                                Available Quantity:
                            </div>
                            <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                                {{micrSeriesList.availableQuantity}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- </div> -->
    </div>
    <!-- <div class="flex justify-content-end pt-3">
        <button pbutton="" pripple="" label="Approved" class="p-element p-ripple p-button-rounded p-button p-component"
            (click)="confirmInvoiceApproval()">
            <span class="p-button-label">Approved</span><span class="p-ink"></span>
        </button>
    </div> -->
</form>
<!-- </div> -->