            <div fromArrayName="seriesGroupArray">
                <div class="card relative" *ngFor="let series1 of seriesGroupArray.controls ; let i = index" [formGroupName]="i">
                    <div >
                        <!-- -------------------------- Series Card [Start] -------------------------- -->
                        <div class="flex flex-wrap gap-3 p-fluid" >
                            <div class="flex-auto">
                                <label for="series" class="block mb-1 text-color text-lg">Series</label>
                                <p-dropdown [options]="allSeries" placeholder="Select series" optionLabel="name"
                                    [showClear]="true" optionValue="code" formControlName="series"
                                    (onChange)="seriesInfo(i)"></p-dropdown>
                            </div>
                            <div class="flex-auto">
                                <label for="Start" class="block mb-1 text-color text-lg">Availability</label>
                                <input type="number" pinputtext="" placeholder="Availability"
                                    class="p-inputtext p-component p-element w-full" formControlName="availability"
                                    optionValue="code">
                            </div>
                            <!-- <div class="flex-auto">
                                <label for="end" class="block mb-1 text-color text-lg">End</label>
                                <input type="number" pinputtext="" placeholder="End"
                                    class="p-inputtext p-component p-element w-full" formControlName="end">
                            </div> -->
                            <div class="flex-auto">
                                <label for="quantity" class="block mb-1 text-color text-lg">Quantity</label>
                                <input type="number" pinputtext="" placeholder="Quantity"
                                    class="p-inputtext p-component p-element w-full" formControlName="quantity">
                            </div>
                        </div>
                        <!-- ------------------------- Series Card [END] ------------------------- -->
                        <!-- --------------------------- X Remove Button --------------------------- -->
                        <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-danger minus_button" (click)="removeNewSeries(i)"
                            *ngIf="seriesGroupArray.length>1"></button>
                        <!-- ---------------------------- + Add Button ----------------------------- -->
                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded plus_button"
                            (click)="addNewSeries()" *ngIf="seriesGroupArray.length===i+1"></button>
                    </div>
                </div>
            </div>