<div class="grid">
    <div class="col-12">
        <div class="grid">
            <div class="col">
                <div class="grid nested-grid">
                    <div class="col-fixed">
                        <img
                            src="assets/layout/images/icons/return-memo.png"
                            alt="logo"
                            height="60"
                        />
                    </div>
                    <div class="col-11">
                        <div class="text-900 font-bold text-3xl mb-1">
                            Generate Return Memo
                        </div>
                        <!-- <div class="text-700 text-1xl line-height-3">Token List.</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <p-card>
            <ng-template pTemplate="title"> Bill Details </ng-template>
            <ng-template pTemplate="subtitle">
                <!-- Enter User Basic Details -->
            </ng-template>
            <!-- <div class="text-700 mb-5">Egestas sed tempus urna et pharetra pharetra massa massa ultricies.</div> -->
            <ng-template pTemplate="content">
                <div
                    class="grid grid-nogutter surface-border pt-2 bg-cyan-50 border-round shadow-1"
                >
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Token No:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mb-2 mr-2 text-lg">
                            Token Date:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Bill No:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Bill Date:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Bill Status:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Bill Description:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            ????
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            DDO Code:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            DDO Description:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Head Of Account:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            HOA Description:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            ??
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Gross Amount:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">AG BT:</div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Treasury BT:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Total BT:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Net Amount:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Treasury Gross:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            ??
                        </div>
                    </div>
                    <div class="col-12 md:col-4 p-3 flex">
                        <div class="text-700 font-medium mb-2 mr-2 text-lg">
                            Sanction No & Date:
                        </div>
                        <div class="text-900 text-lg text-cyan-500 font-semibold">
                            data
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="grid grid-nogutter justify-content-end">
                    <p-button
                        label="Next"
                        icon="pi pi-angle-right"
                        iconPos="right"
                    ></p-button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>