<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Return Memo'" [SubHeaderName]="'List of return Memo.'" [imgSrc]="'assets/layout/images/icons/bill-check.png'">
            <button pButton pRipple type="button"  icon="pi pi-times"label="Close"
            class="p-button-rounded p-button-danger p-button-raised"  (click)="closeButton($event)"></button>
        </app-common-header>
    </div>
    <div class="col-12">
        <div class="grid">
            <div class="col-12 lg:col-6 p-3">
                <div class="transition-colors transition-duration-500 p-3 border-round border-2 cursor-pointer"
                [ngClass]="{
                  'hover:shadow-2 surface-card border-transparent hover:bg-primary-100 hover:border-primary':memoType!== TokenStatusSlug.ObjectedByTreasuryOfficer,
                  'bg-primary-100 border-primary': memoType=== TokenStatusSlug.ObjectedByTreasuryOfficer
                }" (click)="memoType=TokenStatusSlug.ObjectedByTreasuryOfficer">
                    <div class="flex align-items-center justify-content-between">
                        <div>
                            <span class="text-3xl text-900 font-bold">{{memoCont.awatingReturnMemo}}</span>
                            <p class="mt-1 mb-0 text-600 text-xl">Awaiting Memo Generation </p>
                        </div>
                        <div>
                            <img src="assets/layout/images/icons/filter/work-pending.png" height="60">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 p-3">
                <div class="transition-colors transition-duration-500 p-3 border-round border-2 cursor-pointer"
                [ngClass]="{
                  'hover:shadow-2 surface-card border-transparent hover:bg-primary-100 hover:border-primary':memoType!== TokenStatusSlug.ReturnMemoGenerated,
                  'bg-primary-100 border-primary': memoType=== TokenStatusSlug.ReturnMemoGenerated
                }" (click)="memoType=TokenStatusSlug.ReturnMemoGenerated">
                    <div class="flex align-items-center justify-content-between">
                        <div>
                            <span class="text-3xl text-900 font-bold">{{memoCont.generatedReturnMemo}}</span>
                            <p class="mt-1 mb-0 text-600 text-xl">Generated Retrun Memo</p>
                        </div>
                        <div>
                            <img src="assets/layout/images/icons/filter/work-done.png" height="60">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <app-token-list *ngIf="memoType===TokenStatusSlug.ObjectedByTreasuryOfficer" apiPath="Token/GetTokens" actionLable="Generate" actionIcon="pi pi-file" listType="awating-return-memo"></app-token-list>
        <!-- <app-token-list  apiPath="Token/GetTokens" actionLable="Generate" actionIcon="pi pi-file"  listType="generated-return-memo"></app-token-list> -->
        <app-token-list *ngIf="memoType===TokenStatusSlug.ReturnMemoGenerated" apiPath="Token/GetTokens"  actionLable="Download PDF" actionIcon="pi pi-file-pdf" actionButtonClass="p-button-danger" listType="generated-return-memo"></app-token-list>
    </div>
    <p-dialog header="Objection Token Details" [(visible)]="showReturnMemoModal" [style]="{width: '70vw'}" [modal]="true"  [maximizable]="true">
        <div class="bg-cyan-50">
            <div class="flex">
                <div class="col-6 flex">
                    <div class="text-700 font-medium mb-2 mr-2 text-lg">Token Number:</div>
                    <div class="text-900 text-lg text-cyan-500 font-semibold">
                        {{ billDetails?.tokenNumber }}
                    </div>
                </div>
                <div class="col-6 flex">
                    <div class="text-700 font-medium mb-2 mr-2 text-lg">Token Date: </div>
                    <div class="text-900 text-lg text-cyan-500 font-semibold">
                        {{ billDetails?.tokenDate}}
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="col-6 flex">
                    <div class="text-700 font-medium mb-2 mr-2 text-lg">Bill Number: </div>
                    <div class="text-900 text-lg text-cyan-500 font-semibold">
                        {{ billDetails?.billNo }}

                    </div>
                </div>
                <div class="col-6 flex">
                    <div class="text-700 font-medium mb-2 mr-2 text-lg">Bill Date: </div>
                    <div class="text-900 text-lg text-cyan-500 font-semibold">
                        {{ billDetails?.billDate }}

                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="col-6 flex">
                    <div class="text-700 font-medium mb-2 mr-2 text-lg">DDO Code: </div>
                    <div class="text-900 text-lg text-cyan-500 font-semibold">
                        {{ billDetails?.ddoCode }}

                    </div>
                </div>
                <div class="col-6 flex">
                    <div class="text-700 font-medium mb-2 mr-2 text-lg">Head of Account:</div>
                    <div class="text-900 text-lg text-cyan-500 font-semibold">
                        {{ billservice.generateHOAChain(billDetails?.hoaChain)  }}

                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="col-6 flex">
                    <div class="text-700 font-medium mb-2 mr-2 text-lg">Gross Amount:</div>
                    <div class="text-900 text-lg text-cyan-500 font-semibold">
                        {{ billDetails?.grossAmount }}
                    </div>
                </div>
                <div class="col-6 flex">
                    <div class="text-700 font-medium mb-2 mr-2 text-lg">Net Amount:</div>
                    <div class="text-900 text-lg text-cyan-500 font-semibold">
                        {{ billDetails?.netAmount }}
                    </div>
                </div>
            </div>
        </div>
        <div class="surface-section" *ngIf="selectedObjections.length > 0">
            <p-divider align="left" type="solid">
                <b>Objection Detail</b>
                </p-divider>
            <ul class="list-none p-0 m-0">
                <li class="flex align-items-center surface-400 px-4 py-2 mb-3 shadow-2 border-round flex-wrap">
                    <div class="text-500 flex  pr-5 font-medium">#</div>
                    <div class="text-900 flex   md:w-5" >Objections</div>
                    <div class="text-900 flex-1 md:w-2 p-2 ">Remarks</div>
                    <div class="flex-initial flex md:w-2">Objection Type</div>
                </li>
                <li class="flex bg-indigo-50 align-items-center px-4 py-3 mb-3 shadow-2 border-round  flex-wrap " [ngClass]="{'bg-red-200': selectedObjection.isOverruled}"
                    *ngFor="let selectedObjection of selectedObjections;index as i">
                    <div class="text-500 flex  pr-5 font-medium">{{i+1}}</div>
                    <div class="text-900 flex md:w-5" [ngClass]="{'line-through': selectedObjection.isOverruled}">
                        {{selectedObjection.description}}</div>
                    <div class="text-900 flex-1 md:w-2" style="padding-left: 15px;">
                        {{(selectedObjection.overruledRemark!=undefined)?selectedObjection.overruledRemark:selectedObjection.remark}}
                    </div>
                    <div class="text-900 flex-1  md:w-1 justify-content-end">
                        <!-- <p-badge severity="{{(selectedObjection.objectionType==='Global')?'':'info'}}" value={{selectedObjection.objectionType}}></p-badge> -->
                        <span [class]="'customer-badge status-' + selectedObjection.objectionType">{{selectedObjection.objectionType}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <ng-template pTemplate="footer">
            <!-- <button p-button (click)="showReturnMemoModal=false" label="Cancel"  classstyleClass="p-button-outlined"></p-button> -->
            <button (click)="showReturnMemoModal=false" pButton pRipple type="button" label="Cancel"
                class="mr-5 p-button-outlined p-button-secondary"></button>
            <p-button (click)="generateReturnMemo()" label="Generate" icon="pi pi-check"
                styleClass="p-button"></p-button>
        </ng-template>

    </p-dialog>
</div>