<form [formGroup]="distributionForm">
    <div class="grid flex flex-wrap">
        <div class="col-12">
            <div class="card">
                <div class="flex flex-wrap gap-3 p-fluid">
                    <div class="flex-auto">
                        <label for="cheques_type" class="block mb-1 text-color text-lg">Cheque Type</label>
                        <p-dropdown appendTo="body"  [options]="cheques" placeholder="Select a Cheque Type" optionLabel="name"
                            [showClear]="true" optionValue="code" formControlName="cheques_type"></p-dropdown>
                    </div>
                    <div class="flex-auto">
                        <label for="micr_code" class="block mb-1 text-color text-lg">MICR Code</label>
                        <!-- <input type="text" pinputtext="" placeholder="1234-1234-1234-1234"
                            class="p-inputtext p-component p-element w-full" formControlName="micr_code"> -->
                        <button type="button" pButton pRipple label="MICR CODE" (click)="showMicrList()"></button>
                    </div>
                    <div class="flex-auto">
                        <label for="user_list" class="block mb-1 text-color text-lg">User List</label>
                        <!-- <input type="text" pinputtext="" placeholder=""
                        class="p-inputtext p-component p-element w-full" formControlName="user_list"> -->
                        <button type="button" pButton pRipple label="User List" (click)="showUserList()"></button>
                    </div>
                </div>
                <div class="flex flex-wrap gap-3 p-fluid">

                </div>
            </div>
        </div>
    </div>
</form>
<div *ngIf="isVisible">
    <p-listbox [options]="micrCodeList" [(ngModel)]="selectedMicrCode" optionLabel="name" optionValue="code"
        [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true"></p-listbox>
</div>

<div *ngIf="isShowUserList" class="mt-5" >
    <p-listbox  [options]="userList" [(ngModel)]="selectedUser" optionLabel="name"
        optionValue="code" [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true"></p-listbox>
</div>