<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Cheque Entry'" [imgSrc]="'assets/layout/images/icons/cheque-entry.png'">
            <button *ngxPermissionsOnly="['can-cheque-entry']" pButton pRipple type="button" icon="pi pi-plus" label="New Entry"
                class="p-button-rounded p-button-raised" (click)="showDialog()"></button></app-common-header>
    </div>
    <div class="col-12">
        <app-dynamic-table [numberRowsShown]="10" rowSelectionMode="multiple" [rowsPerPageOptions]="[10,30,50]"
            [actionButtons]="tableActionButton" [headers]="tableData!.headers" [data]="tableData.data"
            [dataCount]="tableData.dataCount">
        </app-dynamic-table>
    </div>
</div>

<p-dialog header="New Cheque Entry" [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}"
    [baseZIndex]="10000">
    <form [formGroup]="chequeEntryFrm" class="flex flex-column gap-3 mt-3">
        <div class="flex gap-2">
            <div class="col-6 p-0">
                <label for="start" class="block mb-1 text-color text-lg">Treasury</label>
                <p-dropdown  appendTo="body" [filter]="true" filterBy="name" [options]="treasuryList"
                    placeholder="Select Treasury" formControlName="treasury"  optionLabel="name" [showClear]="true" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
            <div class="col-6 p-0">
                <app-micr (inputValueChange)="handelInputValueChange($event)"></app-micr>
            </div>
        </div>
        <div class="col-12 p-0">
            <label for="series" class="block mb-1 text-color text-lg">Series</label>
            <span class="p-input-icon-left w-full"><i class="pi pi-hashtag"></i>
                <input formControlName="series" type="text" pinputtext="" placeholder="1234-1234-1234-1234"
                    class="p-inputtext p-component p-element w-full">
            </span>
        </div>
        <div class="flex gap-2">
            <div class="col-6 p-0">
                <label for="start" class="block mb-1 text-color text-lg">Start</label>
                <span class="p-input-icon-left w-full"><i class="pi pi-angle-double-right"></i>
                    <input formControlName="start" type="number" pinputtext=""
                        class="p-inputtext p-component p-element w-full">
                </span>
            </div>
            <div class="col-6 p-0">
                <label for="end" class="block mb-1 text-color text-lg">End</label>
                <span class="p-input-icon-left w-full"><i class="pi pi-stop-circle"></i>
                    <input formControlName="end" type="number" pinputtext=""
                        class="p-inputtext p-component p-element w-full">
                </span>
                <div
                    *ngIf="chequeEntryFrm.get('end')?.errors?.['invalidEnd'] && chequeEntryFrm.get('end')?.touched as validationErrors">
                    <span style="color: #FF0000;">End value must be greater than Start value</span>
                </div>
            </div>
        </div>
        <!-- <p-button label="Submit" (click)="addCheque()" class="justify-content-center"></p-button> -->
    </form>
    <div class="flex gap-2 justify-content-end pt-3">
        <button pbutton="" pripple="" label="Submit" class="p-element p-ripple p-button-rounded p-button p-component"
            (click)="addCheque()">
            <span class="p-button-label">Submit</span><span class="p-ink"></span>
        </button>
    </div>
</p-dialog>