    <div class="col-12 md:col-12">
        <!-- Search PPO D -->

        <div class="formgroup-inline">
            <form [formGroup]="ManualEntrySearchForm">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText formControlName="eppoid">
                    <label for="float-input">e-PPO Application No/TRID</label>
                    <p-button label="Search" (click)="MEDetailsSearch()"></p-button>
                </span>
            </form>
           
        </div>


        <form [formGroup]="ppoFormDetails">
            <p-fieldset legend="PPO Details" class="line-height-3 m-0">
                <div class="formgroup-inline">
                    <label for="ppoNo" class="col-12 mb-2 md:col-2 md:mb-0">PPO No.:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <input pInputText formControlName="ppoNo" />
                    </div>
                    <label for="pensionerName" class="col-12 mb-2 md:col-2 md:mb-0">Pensioner Name:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <input pInputText formControlName="pensionerName" />
                    </div>
                </div>
                <div class="formgroup-inline">
                    <label for="type" class="col-12 mb-2 md:col-2 md:mb-0">Type:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-dropdown
                            [options]="[{label: '', value: ''},{label: 'Pension', value: 'pension'}, {label: 'Bank', value: 'bank'}]"
                            formControlName="ppoType"></p-dropdown>
                    </div>
                    <label for="subType" class="col-12 mb-2 md:col-2 md:mb-0">Sub Type:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-dropdown
                            [options]="[{label: '', value: ''},{label: 'Pension', value: 'pension'}, {label: 'Bank', value: 'bank'}]"
                            formControlName="ppoSubType"></p-dropdown>
                    </div>
                </div>
                <div class="formgroup-inline">
                    <label for="categoryId" class="col-12 mb-2 md:col-2 md:mb-0">Cat Description:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <input pInputText formControlName="categoryDescription" />
                    </div>
                    <label for="catSubCatid" class="col-12 mb-2 md:col-2 md:mb-0">Cat-SubCatID:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <input pInputText formControlName="categoryId" />
                    </div>
                    <label for="dateOfRetirement" class="col-12 mb-2 md:col-2 md:mb-0">Retirement Date:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-calendar formControlName="dateOfRetirement" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class="formgroup-inline">
                    <label for="dateOfCommencement" class="col-12 mb-2 md:col-2 md:mb-0">Commencement Date:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0" style="width: 300px;">
                        <p-calendar formControlName="dateOfCommencement" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class="formgroup-inline">
                    <label for="basicPensionAmount" class="col-12 mb-2 md:col-2 md:mb-0">Basic:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <input pInputText formControlName="basicPensionAmount" />
                    </div>
                    <label for="commutedPensionAmount" class="col-12 mb-2 md:col-2 md:mb-0">Commuted Pension:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <input pInputText formControlName="commutedPensionAmount" />
                    </div>
                    <label for="effectiveDate" class="col-12 mb-2 md:col-2 md:mb-0">Effective Date:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-calendar formControlName="effectiveDate" [showIcon]="true"></p-calendar>
                    </div>
                    <label for="reducedPensionAmount" class="col-12 mb-2 md:col-2 md:mb-0">Reduced Pension:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <input pInputText formControlName="reducedPensionAmount" />
                    </div>
                </div>
                <div class="formgroup-inline">
                    <label for="religion" class="col-12 mb-2 md:col-2 md:mb-0">Religion:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-dropdown [options]="religionOptions" formControlName="religion"></p-dropdown>
                    </div>
                    <label for="mobileNumber" class="col-12 mb-2 md:col-2 md:mb-0">Mobile No.:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <input pInputText formControlName="mobileNumber" />
                    </div>
                    <label for="aadharNo" class="col-12 mb-2 md:col-2 md:mb-0">Aadhar No.:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <input pInputText formControlName="aadhaarNo" />
                    </div>
                    <label for="panNo" class="col-12 mb-2 md:col-2 md:mb-0">PAN No.:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <input pInputText formControlName="panNo" />
                    </div>
                </div>
                <div class="formgroup-inline">
                    <label for="pensionerAddress" class="col-12 mb-2 md:col-2 md:mb-0">Address:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <textarea pInputTextarea formControlName="pensionerAddress"></textarea>
                    </div>
                    <label for="remarks" class="col-12 mb-2 md:col-2 md:mb-0">Remarks:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <textarea pInputTextarea formControlName="remarks"></textarea>
                    </div>
                </div>
                <div class="formgroup-inline">
                    <label for="doublePension" class="col-12 mb-2 md:col-2 md:mb-0">Double Pension:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-checkbox formControlName="doublePension"></p-checkbox>
                    </div>
                    <label for="employedPensioner" class="col-12 mb-2 md:col-2 md:mb-0">Employed Pensioner:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-radioButton value="yes" formControlName="employedPensioner"></p-radioButton>
                        <p-radioButton value="no" formControlName="employedPensioner"></p-radioButton>
                    </div>
                    <label for="reEmployed" class="col-12 mb-2 md:col-2 md:mb-0">Re-Employed:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-radioButton value="yes" formControlName="reEmployed"></p-radioButton>
                        <p-radioButton value="no" formControlName="reEmployed"></p-radioButton>
                    </div>
                </div>
                <div class="formgroup-inline">
                    <label for="adhocPension" class="col-12 mb-2 md:col-2 md:mb-0">Adhoc Pension:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-checkbox formControlName="adhocPension"></p-checkbox>
                    </div>
                    <label for="provisionalPension" class="col-12 mb-2 md:col-2 md:mb-0">Provisional Pension:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-checkbox formControlName="provisionalPension"></p-checkbox>
                    </div>
                    <label for="interimAllowance" class="col-12 mb-2 md:col-2 md:mb-0">Interim Allowance:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-checkbox formControlName="interimAllowance"></p-checkbox>
                    </div>
                    <label for="sharedPension" class="col-12 mb-2 md:col-2 md:mb-0">Shared Pension:</label>
                    <div class="field col-12 mb-2 lg:col-4 lg:mb-0">
                        <p-checkbox formControlName="sharedPension"></p-checkbox>
                    </div>
                </div>
            </p-fieldset>
        </form>
        
    </div>
