<div class="grid fadein animation-duration-500">
  <app-option-card  logo='category' optionName="Pension Process" class="col-12 lg:col-6 xl:col-3" [routerLink]="['pension-process']"></app-option-card>
  <app-option-card  logo='label' optionName="Pension Report" class="col-12 lg:col-6 xl:col-3" [routerLink]="['pension-reports']"></app-option-card>
  <app-option-card  logo='stamp' optionName="Pension Query" class="col-12 lg:col-6 xl:col-3" [routerLink]="['pension-query']"></app-option-card>
  <app-option-card  logo='stamp' optionName="Festival Master" class="col-12 lg:col-6 xl:col-3" [routerLink]="['pension-query']"></app-option-card>
  <app-option-card  logo='stamp' optionName="Festival Details" class="col-12 lg:col-6 xl:col-3" [routerLink]="['pension-query']"></app-option-card>
</div>