<!-- <div>
    <h2>Search Records</h2>
    <p-table [value]="records">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record>
        <tr (click)="selectRecord(record)">
          <td>{{ record.id }}</td>
          <td>{{ record.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  

   <div>
    <h2>Search Records</h2>
    <p-table [value]="records" [columns]="columns">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">{{ col.header }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record let-columns="columns">
        <tr (click)="selectRecord(record)">
          <td *ngFor="let col of columns">{{ record[col.field] }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
   --> 
   <div>
    <h2>Search Records</h2>
    <p-table [value]="records">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record>
        <tr (click)="selectRecord(record)">
          <td>{{ record.PpoId }}</td>
          <td>{{ record.pensionerName }}</td>
          <td>{{ record.email }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  