
        <p-divider align="left" type="dashed">
            <div class="inline-flex align-items-center">
                <i class="pi pi-book mr-2"></i>
                <b>Allotment Details</b>
            </div>
        </p-divider>
        <ul class="list-none p-0 m-0">
            <li class="flex justify-content-between bg-primary-500 px-4 py-2 mb-3 shadow-2 border-round flex-wrap">
                <!-- <div class="text-100 font-medium">#</div> -->
                <div class="text-100 font-medium">Allotment Id</div>
                <div class="text-100 font-medium">Head of Account</div>
                <div class="text-100 font-medium">Ceiling Amount</div>
                <div class="text-100 font-medium" >Actual Balance</div>
                <div class="text-100 font-medium" >Booked Balance</div>
                <div class="text-100 font-medium" >Status</div>
            </li>
            <li class="flex surface-ground bg-indigo-50 justify-content-between px-4 py-3 mb-3 shadow-2 border-round  flex-wrap "
                *ngFor="let allotment of allotments;index as i">
                <!-- <div class="text-500 pr-5 font-medium">{{i+1}}</div> -->
                <div class="text-900 font-medium">{{allotment.allotmentId}}</div>
                <div class="text-900 font-medium">{{billservice.generateHOAChain(allotment.hoa)}}</div>
                <div class="text-900 font-medium" style="padding-left: 15px;">
                    {{ allotment.ceilingAmount | currency:'INR':'symbol':'1.2-2'}}
                </div>
                <div class="text-900 font-medium">
                    {{ allotment.actualBalanceAmount | currency:'INR':'symbol':'1.2-2'}}
                </div>
                <div class="font-medium p-1 border-round"
                [ngClass]="{'text-red-500': allotment.actualBalanceAmount < allotment.bookedAmount, 
                            'text-green-500': allotment.actualBalanceAmount >= allotment.bookedAmount }">
                    {{ allotment.bookedAmount | currency:'INR':'symbol':'1.2-2'}}
                </div>
                <div class="font-medium p-1 border-round"
                     [ngClass]="{'status-insufficient': allotment.actualBalanceAmount < allotment.bookedAmount, 
                                 'status-sufficient': allotment.actualBalanceAmount >= allotment.bookedAmount }">
                     {{ (allotment.actualBalanceAmount < allotment.bookedAmount)? 'insufficient' : 'sufficient' | uppercase}}
                </div>
                <!-- <div [class]="'custom-badge ' + 'status-' + allotment.status">{{rowData[col.fieldName] }}</div> -->
            </li>
            <!-- <li class="flex align-items-center bg-primary-200 px-4 py-2 mb-3 shadow-2 border-round flex-wrap">
                <div class="text-900 flex  pr-5 font-medium">Total</div>
                <div class="text-100 flex   md:w-5 font-medium"></div>
                <div class="text-100 flex-1 md:w-2 p-2 font-medium"></div>
                <div class="text-900 flex-1  md:w-1 font-medium" >{{ billDetails?.billDetailsDetails?.subDeatilsTotalAmount | currency:'INR':'symbol':'1.2-2' }}</div>
            </li> -->
        </ul>


