<div class="grid">
<div class="col-12">
    <p-divider align="left" type="dashed">
        <div class="inline-flex align-items-center">
            <i class="pi pi-file mr-2"></i>
            <b>Bill Details</b>
        </div>
    </p-divider>
    <div class="grid grid-nogutter static bg-primary-100 border-round border-primary border-solid text-gray-800 p-3">
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Token No:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.tokenDetails?.tokenNumber }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Token Date:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.tokenDetails?.tokenDate }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Bill No:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.billDetailsDetails?.billNo }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Bill Date:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.billDetailsDetails?.billDate }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Bill Status:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.tokenDetails?.status }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Bill Description:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                DDO Code:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.billDetailsDetails?.ddoCode }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                DDO Description:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.billDetailsDetails?.ddoDesignation }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Head Of Account:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{
                billservice.generateHOAChain(
                billDetails?.billDetailsDetails?.hoaChain
                )
                }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                HOA Description:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Gross Amount:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.billDetailsDetails?.grossAmount | currency:'INR':'symbol':'1.2-2' }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">AG BT:</div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.billDetailsDetails?.agBTAmount | currency:'INR':'symbol':'1.2-2' }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Treasury BT:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.billDetailsDetails?.treasuryBTAmount | currency:'INR':'symbol':'1.2-2' }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Total BT:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.billDetailsDetails?.totalBTAmount | currency:'INR':'symbol':'1.2-2' }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Net Amount:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.billDetailsDetails?.netAmount | currency:'INR':'symbol':'1.2-2' }}
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Treasury Gross:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
            
            </div>
        </div>
        <div class="col-12 md:col-4 p-3 flex">
            <div class="font-medium mb-2 mr-2 text-lg">
                Sanction No & Date:
            </div>
            <div class="text-900 text-lg text-primary-500 font-semibold">
                {{ billDetails?.billDetailsDetails?.sanctionNo }}
                {{ billDetails?.billDetailsDetails?.sanctionDate }}
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <p-divider align="left" type="dashed">
        <div class="inline-flex align-items-center">
            <i class="pi pi-book mr-2"></i>
            <b>Sub Details Head</b>
        </div>
    </p-divider>
    <ul class="list-none p-0 m-0">
        <li class="flex align-items-center bg-primary-500 px-4 py-2 mb-3 shadow-2 border-round flex-wrap">
            <div class="text-100 flex  pr-5 font-medium">#</div>
            <div class="text-100 flex   md:w-5 font-medium">Sub Detail</div>
            <div class="text-100 flex-1 md:w-2 p-2 font-medium">Description</div>
            <div class="text-100 flex-1  md:w-1 font-medium" >Amount</div>
        </li>
        <li class="flex surface-ground bg-indigo-50 align-items-center px-4 py-3 mb-3 shadow-2 border-round  flex-wrap "
            *ngFor="let subHeadDetail of subHeadDetails;index as i">
            <div class="text-500 flex  pr-5 font-medium">{{i+1}}</div>
            <div class="text-900 flex md:w-5 font-medium">{{ subHeadDetail.subDeatils }}</div>
            <div class="text-900 flex-1 md:w-2 font-medium" style="padding-left: 15px;">
                {{ subHeadDetail.description }}
            </div>
            <div class="text-900 flex flex-1  md:w-1 justify-content-center font-medium">
                {{ subHeadDetail.amount | currency:'INR':'symbol':'1.2-2'}}
            </div>
        </li>
        <li class="flex align-items-center bg-primary-200 px-4 py-2 mb-3 shadow-2 border-round flex-wrap">
            <div class="text-900 flex  pr-5 font-medium">Total</div>
            <div class="text-100 flex   md:w-5 font-medium"></div>
            <div class="text-100 flex-1 md:w-2 p-2 font-medium"></div>
            <div class="text-900 flex-1  md:w-1 font-medium" >{{ billDetails?.billDetailsDetails?.subDeatilsTotalAmount | currency:'INR':'symbol':'1.2-2' }}</div>
        </li>
    </ul>
<br>
<br>
<br>
<br>
    <app-basic-dynamic-table [tableData]="subHeadTabledetails" [tfoot]="subHeadTableFooterDetails"></app-basic-dynamic-table>
</div>
</div>