<!-- <div class="surface-card p-4 shadow-2 border-round"> -->
<p-card>
    <ng-template pTemplate="title"> Bill Details </ng-template>
    <ng-template pTemplate="subtitle">
        <!-- Enter User Basic Details -->
    </ng-template>
    <!-- <div class="text-700 mb-5">Egestas sed tempus urna et pharetra pharetra massa massa ultricies.</div> -->
    <ng-template pTemplate="content">
        <div class="grid grid-nogutter surface-border pt-2 bg-cyan-50 border-round shadow-1">
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Token No:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.tokenDetails?.tokenNumber }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mb-2 mr-2 text-lg">
                    Token Date:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.tokenDetails?.tokenDate }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Bill No:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.billDetailsDetails?.billNo }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Bill Date:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.billDetailsDetails?.billDate }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Bill Status:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.tokenDetails?.status }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Bill Description:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                 
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    DDO Code:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.billDetailsDetails?.ddoCode }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    DDO Description:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.billDetailsDetails?.ddoDesignation }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Head Of Account:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{
                    billservice.generateHOAChain(
                    billDetails?.billDetailsDetails?.hoaChain
                    )
                    }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    HOA Description:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Gross Amount:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.billDetailsDetails?.grossAmount | currency:'INR':'symbol':'1.2-2' }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">AG BT:</div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.billDetailsDetails?.agBTAmount | currency:'INR':'symbol':'1.2-2' }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Treasury BT:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.billDetailsDetails?.treasuryBTAmount | currency:'INR':'symbol':'1.2-2' }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Total BT:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.billDetailsDetails?.totalBTAmount | currency:'INR':'symbol':'1.2-2' }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Net Amount:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.billDetailsDetails?.netAmount | currency:'INR':'symbol':'1.2-2' }}
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Treasury Gross:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                
                </div>
            </div>
            <div class="col-12 md:col-4 p-3 flex">
                <div class="text-700 font-medium mb-2 mr-2 text-lg">
                    Sanction No & Date:
                </div>
                <div class="text-900 text-lg text-cyan-500 font-semibold">
                    {{ billDetails?.billDetailsDetails?.sanctionNo }}
                    {{ billDetails?.billDetailsDetails?.sanctionDate }}
                </div>
            </div>
        </div>
        <div class="col-12 p-3">
            <!-- <div class="text-700 font-medium mb-3">Files</div> -->

            <p-table class="pb-5" [value]="subHeadDetails">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Sub Detail</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-subHeadDetail>
                    <tr>
                        <td>{{ subHeadDetail.subDeatils }}</td>
                        <td>{{ subHeadDetail.description }}</td>
                        <td>{{ subHeadDetail.amount }}</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- <p-divider></p-divider> -->

            <!-- <p-divider align="left">
                <p-button label="Allotment" (click)="showAllotment()" icon="pi pi-book"  styleClass="p-button-outlined"></p-button>
                <p-dialog header="Allotment" [(visible)]="displayAllotment" [maximizable]="true">
                    <app-allotment></app-allotment>
                </p-dialog>
            </p-divider> -->
            <div *ngIf="subHeadDetails">
                <p-fieldset legend="Allotment" [toggleable]="true">
                    <app-allotment [subHeadDetails]="subHeadDetails"></app-allotment>
                </p-fieldset>
            </div>
           
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-end">
            <p-button label="Next" (onClick)="nextStep()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>
<!-- </div> -->