<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Payment Registration'" [imgSrc]="'assets/layout/images/icons/payment-register.png'">
        </app-common-header>
    </div>
    <div class="col-12">
        <!-- Skeleton -->
        <app-dynamic-table (actionButtonClicked)="handleButtonClick($event)" [numberRowsShown]="10"
            [rowsPerPageOptions]="[10,30,50]" [actionButtons]="tableActionButton"
            [headers]="tableData!.headers" [data]="tableData.data" [dataCount]="tableData.dataCount">
        </app-dynamic-table>
    </div>
</div>


<p-dialog header="Enter GRN" [(visible)]="registerGRNModal" [modal]="true" [style]="{width: '25rem'}"
    [baseZIndex]="10000" [draggable]="false">
    <hr class="mb-4" />
<div class="asked w-full flex flex-column gap-2">
    <div class="flex gap-4 align-items-center w-full">
        <label class="w-12rem font-semibold" for="tcode">GRN No: </label>
        <input type="text" [(ngModel)]="GRNNo" (ngModelChange)="GRNNoSelected($event)" class="p-inputtext p-component p-element">
    </div>
</div>
<div class="flex gap-2 justify-content-end pt-3">
    <p-button label="Submit" (click)="registerGRNNo()" class="rounded">
    </p-button>
</div>
</p-dialog>

<p-dialog [(visible)]="printModal" [modal]="false" [style]="{width: '60vw'}"
[baseZIndex]="10000" [draggable]="false">
    <app-tr7-form *ngIf="printModal" [data]="printData"></app-tr7-form>
</p-dialog>