<p-card>
    <ng-template pTemplate="title"> Objection </ng-template>
    <ng-template pTemplate="subtitle">
        <!-- Enter User Basic Details -->
    </ng-template>
    <ng-template pTemplate="content">
        <p-listbox [options]="gobalObjections" optionLabel="description" [checkbox]="true" [filter]="true"
            [(ngModel)]="selectedGobalObjections" [multiple]="true" [listStyle]="{ 'max-height': '200px' }"
            (onClick)="setSelectedObjection($event)">
            <ng-template pTemplate="header"> Gobal Objections </ng-template>
        </p-listbox>
        <p-divider align="right">
            <p-button label="Add Local Objection" icon="pi pi-plus" (click)="addLocalObjectionPanel.toggle($event)"
                styleClass="p-button-outlined"></p-button>
            <p-confirmPopup></p-confirmPopup>
            <p-overlayPanel #addLocalObjectionPanel [showCloseIcon]="true" [style]="{ 'width': '500px', 'height': '200px'}">
                <div class="formgroup-inline">
                    <div class="field">
                        <label htmlFor="localObjection" class="p-sr-only">Objection Description</label>
                        <!-- <input pInputText id="localObjection" ngm type="text" placeholder="Objection description"
                            [(ngModel)]="newObjection" /> -->
                            <textarea rows="5" cols="66" pInputTextarea id="localObjection" placeholder="Objection description" [(ngModel)]="newObjection"></textarea>
                    </div>
                    <p-button label="Add" (onClick)="addLocalObjection()"></p-button>
                </div>
            </p-overlayPanel>
        </p-divider>
        <!-- ============================================================ -->
        <div class="surface-section" *ngIf="selectedObjections.length > 0">
            <div class="font-medium text-3xl text-900 mb-3">Selected Objections</div>
            <!-- <div class="text-500 mb-5">Morbi tristique blandit turpis. In viverra ligula id nulla hendrerit rutrum.</div> -->
            <ul class="list-none p-0 m-0">
                <li class="flex align-items-center surface-400 px-4 py-2 mb-3 shadow-2 border-round flex-wrap">
                    <div class="text-500 flex  pr-5 font-medium">#</div>
                    <div class="text-900 flex   md:w-5">Objections</div>
                    <div class="text-900 flex-1 md:w-2 p-2 ">Remarks</div>
                    <div class="text-900 flex-1  md:w-1">Raised By</div>
                    <div class="flex-initial flex md:w-2">Objection Type</div>
                </li>
                <li class="flex bg-indigo-50 align-items-center px-4 py-3 mb-3 shadow-2 border-round  flex-wrap "
                    [ngClass]="{'bg-red-200': selectedObjection.isOverruled}"
                    *ngFor="let selectedObjection of selectedObjections;index as i">
                    <div class="text-500 flex  pr-5 font-medium">{{i+1}}</div>
                    <div class="text-900 flex md:w-5" [ngClass]="{'line-through': selectedObjection.isOverruled}">
                        {{selectedObjection.description}}</div>
                    <div class="text-900 flex-1 md:w-2" style="padding-left: 15px;">
                        <!-- {{typeof(selectedObjection.overruledRemark)}} -->
                        {{(selectedObjection.overruledRemark!=undefined)?selectedObjection.overruledRemark:selectedObjection.remark}}
                    </div>
                    <div class="text-900 flex flex-1  md:w-1 justify-content-center">
                        {{(selectedObjection.objectionBy)?selectedObjection.objectionBy:'You'}}</div>
                    <div class="text-900 flex-1  md:w-1 justify-content-end">
                        <!-- <p-badge severity="{{(selectedObjection.objectionType==='Global')?'':'info'}}" value={{selectedObjection.objectionType}}></p-badge> -->
                        <span
                            [class]="'customer-badge status-' + selectedObjection.objectionType">{{selectedObjection.objectionType}}</span>
                    </div>
                    <div class="flex-initial flex md:w-2 justify-content-end">
                        <button *ngIf="selectedObjection.remark&&!selectedObjection.exiestObjectionId" pButton pRipple
                            label="Edit Remarks" icon="pi pi-comment" class="p-button-warning p-button-text p-button-sm"
                            (click)="openRemarkPanel($event,i)"></button>
                        <button *ngIf="!selectedObjection.remark" pButton pRipple label="Add Remarks "
                            icon="pi pi-comment" class="p-button-info p-button-text p-button-sm"
                            (click)="openRemarkPanel($event,i)"></button>
                        <button *ngIf="!selectedObjection.exiestObjectionId" pButton pRipple label="Remove"
                            icon="pi pi-minus-circle" class="p-button-danger p-button-text"
                            (click)="removeObjection(selectedObjection)"></button>
                        <button *ngIf="selectedObjection.exiestObjectionId&&!selectedObjection.isOverruled" pButton
                            pRipple label="Overrule" icon="pi pi-times" class="p-button-danger p-button-text"
                            (click)="openOverruleRemarkPanel($event,i)"></button>
                        <button *ngIf="selectedObjection.isOverruled && selectedObjection.OverruledBy==='You'" pButton
                            pRipple label="Undo" icon="pi pi-undo" class="p-button-info p-button-text"
                            (click)="undoObjectionOverrule(i)"></button>
                        <button *ngIf="isRevertButton && selectedObjection.isOverruled  && selectedObjection.OverruledBy!='You'" pButton pRipple label="Revert"
                            class="p-button-info p-button-text p-button-sm"
                            (click)="confirmRevert($event,i)"></button>

                    </div>
                </li>
            </ul>
        </div>
        <!-- ============================================================ -->
        <p-table *ngIf="tokenObjections.length > 0" class="pt-5" [value]="tokenObjections"
            [(selection)]="selectedObjectionsForOverrule" selectionMode="multiple"
            (onRowSelect)="onRowSelectUnselect($event)" (onRowUnselect)="onRowSelectUnselect($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Remarks</th>
                    <th>Raised By</th>
                    <!-- <th>Remarks</th> -->
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowIndex="rowIndex" let-tokenObjection>
                <tr [pSelectableRow]="tokenObjection">
                    <td>{{rowIndex+1}}</td>
                    <td>{{tokenObjection.objectionDescription}}</td>
                    <td>{{tokenObjection.objectionRemark}}</td>
                    <td>{{tokenObjection.objectionBy}}</td>
                    <!-- <td><input pInputText pKeyFilter="int" placeholder="Remarks" /></td> -->
                    <td>
                        <p-tableCheckbox [value]="tokenObjection"></p-tableCheckbox>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-overlayPanel #remarkPanel [showCloseIcon]="true">
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="localObjection" class="p-sr-only">Remarks</label>
                    <input pInputText id="localObjection" ngm type="text" placeholder="Remarks"
                        [(ngModel)]="objectionRemarks" />
                </div>
                <p-button label="Add" (onClick)="addObjectionRemark()"></p-button>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #overruleRemarkPanel [showCloseIcon]="true">
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="localObjection" class="p-sr-only">Remarks</label>
                    <input pInputText id="localObjection" ngm type="text" placeholder="Remarks"
                        [(ngModel)]="overruleRemarks" />
                </div>
                <button pButton pRipple label="Overruled" class="p-button-danger"
                    (click)="objectionOverrule()"></button>
            </div>
        </p-overlayPanel>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-between">
            <p-button label="Back" icon="pi pi-angle-left" (onClick)="prevStep()"></p-button>
            <p-button [label]="submitButtonLabel" (onClick)="billCheck()" icon="pi pi-save"
                class="p-button-success"></p-button>
        </div>
    </ng-template>
</p-card>