@media print {
    body {
        visibility: hidden;
      }
      
      .print-container {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
      }
      
      table {
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
      
      tr, td {
        text-align: center;
      }
      
      td {
        padding: 10px; /* Adjust padding as needed */
      }
      
      @page {
        size: A4 landscape; /* Adjust the page size if needed */
        margin: 20mm; /* Adjust margins as needed */
      }
      
      body * {
        visibility: visible;
      }
      
  }