<div class="col-12">
    <app-common-header [headerName]="'Cheque Receive'" [imgSrc]="'assets/layout/images/icons/cheque-received.png'">
    </app-common-header>
</div>
<!-- <form [formGroup]="receivedForm"> -->
<div class="grid flex flex-wrap" *ngIf="invoiceDetailsList != undefined">
    <div class="col-6">
        <div class="card">
            <div class="grid grid-nogutter surface-ground static border-2 border-round border-primary border-solid text-gray-800 p-3"
                style="min-width: 300px; min-height: 60px;">
                <div class="col-3 flex">
                    <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                        Quantity:
                    </div>
                    <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                        {{invoiceDetailsList.quantity}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" *ngFor="let item of invoiceDetailsList.chequeInvoiceSeries; let i= index">
            <div class="grid grid-nogutter surface-ground static  text-gray-800 p-3"
                style="min-width: 300px; min-height: 60px;">
                <div class="col-4  flex">
                    <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                        Treasury Code:
                    </div>
                    <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                        {{item.treasuryCode}}
                    </div>
                </div>
                <div class="col-5 flex">
                    <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                        MICR Code:
                    </div>
                    <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                        {{item.micrCode}}
                    </div>
                </div>
                <div class="col-3 flex">
                    <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                        Series:
                    </div>
                    <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                        {{item.series}}
                    </div>
                </div>
                <div class="col-4 flex">
                    <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                        Quantity:
                    </div>
                    <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                        {{item.quantity}}
                    </div>
                </div>
                <div class="col-4 flex">
                    <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                        Start:
                    </div>
                    <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                        {{item.start}}
                    </div>
                </div>
                <div class="col-4 flex">
                    <div class="text-500 font-medium mb-2 mr-2 text-lg text-center">
                        End:
                    </div>
                    <div class="text-900 text-lg text-primary-500 font-semibold text-center">
                        {{item.end}}
                    </div>
                </div>
            </div>
            <div class="mt-5" *ngIf="chequesDamageType1!=undefined&&chequesDamageType1[i]!=undefined">
                <div class="flex flex-wrap gap-3 p-fluid">
                    <div class="flex-auto gap-3">
                        <label for="series" class="block mb-1 text-color text-lg">Cheque Damage Type</label>
                        <!-- <p-dropdown [options]="chequesDamageType" placeholder="Select Cheque Damage Type"
                                optionLabel="name" [showClear]="true" optionValue="code"
                                formControlName="damage_type">
                            </p-dropdown> -->
                        <p-dropdown [options]="chequesDamageType" placeholder="Select Cheque Damage Type"
                            optionLabel="name" [showClear]="true" optionValue="code"
                            [(ngModel)]="chequesDamageType1[i].damageType">
                        </p-dropdown>
                    </div>
                    <div class="flex-auto">
                        <label for="Start" class="block mb-1 text-color text-lg">Cheque Number</label>
                        <!-- <input type="text" pinputtext="" placeholder="Cheque Series Range"
                                class="p-inputtext p-component p-element w-full" formControlName="series_range"> -->
                        <input type="text" pinputtext="" placeholder="Cheque Series Range"
                            class="p-inputtext p-component p-element w-full"
                            [(ngModel)]="chequesDamageType1[i].damageIndex">
                    </div>
                </div>
            </div>
            <div *ngIf="!item.isVisible">
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded mt-3"
                    label="Damage Cheque" (click)="initDamagedChequeEntry(item,i)"></button>
            </div>

            <!-- <button *ngIf="!item.isVisible" pButton pRipple type="button" icon="pi pi-plus"
                    class="p-button-rounded mt-3" label="Damage Cheque"
                    (click)="addDamagedChequeEntry(item, i )"></button> -->
            <div *ngIf="item.isVisible" class="mt-3">
                <button (click)="cancelDamagedChequeEntry(item, i)" pButton pRipple type="button" icon="pi pi-times"
                    class="p-button-rounded p-button-danger"></button>
            </div>

        </div>

    </div>
    <button type="submit" pButton pRipple label="Submit" (click)="rcvFormsubmit()"></button>
</div>
<!-- </form> -->