<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Token'" [SubHeaderName]="'Token List.'"  [imgSrc]="'assets/layout/images/icons/token.png'">
            <button pButton pRipple type="button"  icon="pi pi-times"label="Close"
            class="p-button-rounded p-button-danger p-button-raised"  (click)="closeButton($event)"></button>
        </app-common-header>
    </div>
    <div class="col-12">
        <app-token-list actionRoute="/option" [isAllToken]=1 actionIcon="pi pi-chevron-right"></app-token-list>
    </div>
</div>