<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Cheque Distribution'" [imgSrc]="'assets/layout/images/icons/cheque-distribuion.png'">
            <button pButton pRipple type="button" icon="pi pi-plus" label="New Distribution"
                class="p-button-rounded p-button-raised" (click)="showModal()"></button></app-common-header>
    </div>
    <div class="col-12">
        <!-- <app-dynamic-table [numberRowsShown]="10" rowSelectionMode="multiple" [rowsPerPageOptions]="[10,30,50]"
            [actionButtons]="tableActionButton" [headers]="tableData!.headers" [data]="tableData.data"
            [dataCount]="tableData.dataCount">
        </app-dynamic-table> -->
    </div>
</div>
<p-dialog header="New Cheque Distribution" [(visible)]="displayModal" [modal]="true" [style]="{width: '40vw'}"
    [baseZIndex]="10000">
    <app-new-distribution></app-new-distribution>
</p-dialog>