<div class="grid">
    <div class="col-12">
        <!-- <app-common-header [headerName]="'Pay Mandate shortlist'"
            [imgSrc]="'assets/layout/images/icons/payment-mandate.png'"></app-common-header> -->
            <app-common-header [headerName]="'Pay Mandate '"
            [imgSrc]="'assets/layout/images/icons/payment-mandate.png'"></app-common-header>
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <p-toggleButton [(ngModel)]="isPaymentSelected" onLabel="Payment" offLabel="Paymaent"
                    onIcon="pi pi-check" [style]="{ width: '10em' }"></p-toggleButton>
            </div>
            <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label"
                optionValue="value"></p-selectButton>
            <div class="p-toolbar-group-right">
                <button pButton pRipple type="button" icon="pi pi-search"
                    class="p-button-rounded p-button-success"></button>
            </div>
        </p-toolbar>
    </div>
    <div class="col-12">
        <div class="card">
            <!-- <h5>PayMandate Shortlist</h5> -->
            <p-table [value]="paymandateShortlist" [rows]="10" [showCurrentPageReport]="true" [(selection)]="selectedPaymandates"
                [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['slNo','tokenNo','tokenDate','billDate','trFormats','billTypes','billModule','billPeriod','noBeneficiarie','netAmount','ecsAmount','chequeAmount','detailHead','headOfAcc','ddoCode','paymentMandate']"
                [tableStyle]="{'min-width':'90rem'}">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:3%">SL No</th>
                        <th style="width:3%">Token No</th>
                        <th style="width:6%">Token Date</th>
                        <th style="width:6%">Bill Date</th>
                        <th style="width:3%">TR Formats</th>
                        <th style="width:4%">Bill Types</th>
                        <th style="width:4%">Bill Module</th>
                        <th style="width:4%">Bill Period</th>
                        <th style="width:4%">Nos Of Beneficiarie</th>
                        <th style="width:6%">Net Amount</th>
                        <th style="width:2%">ECS Amount</th>
                        <th style="width:2%">Cheque Amount</th>
                        <th style="width:4%">Detail Head</th>
                        <th style="width:12%">Head Of Accounts</th>
                        <th style="width:4%">DDO Code </th>
                        <th style="width:16%">Payment Mandate Date</th>
                        <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                    </tr>
                    <!-- <tr>
                        <th>
                            <p-columnFilter type="text" field="slNo"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="tokenNo"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="tokenDate"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="billDate"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="trFormats"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="billTypes"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="billModule"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="billPeriod"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="netAmount"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="detailHead"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="nameheadOfAcc"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="ddoCode"></p-columnFilter>
                        </th>
                    </tr> -->
                </ng-template>
                <ng-template pTemplate="body" let-paymandate>
                    <tr (click)="selectPaymandate(paymandate)">
                        <td>
                            1
                        </td>
                        <td>
                            {{paymandate.tokenId}}
                        </td>
                        <td>
                            {{paymandate.tokenDate}}
                        </td>
                        <td>
                            {{paymandate.billDate}}
                        </td>
                        <td>
                            {{paymandate.trFormats}}
                        </td>
                        <td>
                            {{paymandate.billTypes}}
                        </td>
                        <td>
                            {{paymandate.billModule}}
                        </td>
                        <td>{{paymandate.billPeriod}}

                        </td>
                        <td>{{paymandate.noOfBeneficiarie}}

                        </td>
                        <td>{{paymandate.neAmount}}

                        </td>
                        <td>{{paymandate.ecsAmount}}

                        </td>
                        <td>{{paymandate.chequeAmount}}

                        </td>
                        <td>{{paymandate.detailHead}}

                        </td>
                        <td> {{
                            billservice.generateHOAChain(
                                paymandate.headOfAccounts
                            )
                            }}

                        </td>
                        <td>{{paymandate.ddoCode}}

                        </td>
                        <td>
                            <div class="field col-12 md:col-12">
                                <p-calendar [showIcon]="true" inputId="icon"  [(ngModel)]="paymandate.selectedDate"></p-calendar>
                            </div>
                        </td>
                        <td>
                            <p-tableCheckbox [value]="paymandate"  (click)="updateSelectedPaymandates(paymandate)"></p-tableCheckbox>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No records found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="grid grid-nogutter justify-content-end">
                <!-- <p-button label="Shortlisted" (click)="dataSave()" icon="pi pi-save" class="p-button-success align-items-end"></p-button> -->
                <p-button label="Pay Mandate" (click)="dataSave()" icon="pi pi-save" class="p-button-success align-items-end"></p-button>

            </div>
        </div>

    </div>
</div>