<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Cheque'" [imgSrc]="'assets/layout/images/icons/cheque.png'">
            <!-- <button pButton pRipple type="button" icon="pi pi-plus" label="New Indent"
                class="p-button-rounded p-button-raised" [routerLink]="['cheque-indent']"></button> -->
            </app-common-header>
    </div>
    <!-- <app-option-card  logo='cheque-indent' optionName="Cheque Indent" class="col-12 lg:col-6 xl:col-3" [routerLink]="['/cheque-indent']"></app-option-card>
    <app-option-card  logo='cheque-invoice' optionName="Cheque Invoice" class="col-12 lg:col-6 xl:col-3" [routerLink]="['/cheque-invoice']"></app-option-card> -->
    <div class="col-12">
        <div class="grid fadein animation-duration-500">
            <app-option-card  logo='cheque-entry' optionName="Cheque Entry" class="col-12 lg:col-6 xl:col-6" [routerLink]="['cheque-entry']"></app-option-card>
            <app-option-card  logo='cheque-indent-invoice' optionName="Cheque Indent & Invoice" class="col-12 lg:col-6 xl:col-6" [routerLink]="['cheque-indent-invoice']"></app-option-card>
        </div>
    </div>
</div>

