<div class="grid">
    <div class="col-12">
        <div class="grid">
            <div class="col">
                <div class="grid nested-grid">
                    <div class="col-fixed">
                        <img
                            src="assets/layout/images/icons/options.png"
                            alt="logo"
                            height="60"
                        />
                    </div>
                    <div class="col-11">
                        <div class="text-900 font-bold text-3xl mb-1">
                            Token <span class="text-cyan-500 font-bold ">{{tokenNo}}</span>
                        </div>
                        <div class="text-700 text-1xl line-height-3">Token Date <span class="text-orange-500  font-bold">{{tokenDate}}</span></div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-fixed">
                <p-button
                    label="Token No"
                    styleClass="p-button-rounded p-button-raised"
                    icon="pi pi-file-edit"
                ></p-button>
            </div> -->
        </div>
    </div>
    <div class="col-12">
        <app-option-card *ngxPermissionsOnly="['can-bill-check']" logo='bill-check' optionName="Bill Checking" class="col-4 lg:col-6 xl:col-6" [routerLink]="['/bill-checking/new-bill-check/bill-details']"></app-option-card>
        <app-option-card *ngxPermissionsOnly="['can-payment-mandate']" logo='payment-mandate' optionName="Payment Mandate" class="col-4 lg:col-6 xl:col-6" [routerLink]="['/payment-mandate']"></app-option-card>
        <app-option-card *ngxPermissionsOnly="['can-generate-return-memo']" logo='return-memo' optionName="Return Memo" class="col-12 lg:col-6 xl:col-3" [routerLink]="['/return-memo']"></app-option-card>

    </div>
</div>
