<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Cheque'" [imgSrc]="'assets/layout/images/icons/cheque.png'">
            <!-- <button pButton pRipple type="button" icon="pi pi-plus" label="New Indent"
                class="p-button-rounded p-button-raised"></button> -->
        </app-common-header>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="flex flex-wrap gap-3 p-fluid">
                <div class="flex-auto">
                    <label for="indent_date" class="block mb-1 text-color text-lg">Indent Date</label>
                    <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                </div>

                <div class="flex-auto">
                    <label for="memo_no" class="block mb-1 text-color text-lg">Memo Number</label>
                    <input name="memo_no" type="text" pinputtext="" placeholder="1234-1234-1234-1234"
                        class="p-inputtext p-component p-element w-full">
                </div>
            </div>
            <div class="flex flex-wrap gap-3 p-fluid">
                <div class="flex-auto">
                    <label for="memo_date" class="block mb-1 text-color text-lg">Memo Date</label>
                    <p-calendar [showIcon]="true" inputId="icon" class="w-full"></p-calendar>
                </div>

                <div class="flex-auto">
                    <label for="memo_no" class="block mb-1 text-color text-lg">Remarks</label>
                    <textarea pInputTextarea name="memo_no" class="w-full"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <form [formGroup]="indentForm">
            <div formArrayName="chequelist">
                <div class="card relative" *ngFor="let cheque of chequelist.controls; let i = index"
                    [formGroupName]="i">
                    <div class="flex flex-wrap gap-3 p-fluid">
                        <div class="flex-auto">
                            <!-- <label for="indent_date" class="block mb-1 text-color text-lg">Cheque Type</label> -->
                            <p-dropdown [options]="cheques" placeholder="Select a Cheque Type" optionLabel="name"
                                [showClear]="true" formControlName="cheques_type"></p-dropdown>
                        </div>
                        <div class="flex-auto">
                            <!-- <label for="memo_no" class="block mb-1 text-color text-lg">MICR Code </label> -->
                            <div class="p-inputgroup">
                                <input type="text" pInputText placeholder="MICR Code"
                                    class="p-inputtext p-component p-element w-full" formControlName="micr_code">
                                <button type="button" pButton pRipple label="Find" (click)="showBankDetails()"></button>
                            </div>
                        </div>
                        <div class="flex-auto">
                            <!-- <label for="memo_no" class="block mb-1 text-color text-lg">Quantity</label> -->
                            <input formControlName="quantity" type="text" pinputtext=""
                                class="p-inputtext p-component p-element w-full" placeholder="quantity">
                        </div>
                    </div>
                    <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-danger minus_button" (click)="removeCheque(i)"
                        *ngIf="chequelist.length!=i+1"></button>
                    <button pButton pRipple type="button" icon="pi pi-plus" class="plus_button p-button-rounded"
                        (click)="addCheque()" *ngIf="chequelist.length==i+1"></button>
                </div>
            </div>
        </form>
    </div>

    <p-dialog header="Bank" [(visible)]="displayModal" [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000">
        <div>
            <div class="flex flex-wrap gap-3 p-fluid">
                <div class="flex-auto">
                    <p-dropdown appendTo="body" [options]="bankList " placeholder="Select Bank" optionLabel="name" [showClear]="true" [(ngModel)]="selectedBank" (onChange)="getBranchList()">
                    </p-dropdown>
                </div>
                <div class="flex-auto">
                    <div class="flex-auto">
                        <p-dropdown appendTo="body" [options]="branchlist" placeholder="Select Branch" optionLabel="name" [showClear]="true" [(ngModel)]="selectedBranch">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="mt-5" *ngIf="selectedBranchName">
                <p-card>
                    <p> Bank Name: </p>
                    <p> MICR Code:{{ bankDetails}}</p>
                    <p> IFSC Code:</p>
                    <p> Branch:Bnakra-birati</p>
                </p-card>
            </div>
        </div>
    </p-dialog>