<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Category Entry'" [imgSrc]="'assets/layout/images/icons/category-entry.png'">
            <button pButton pRipple type="button" icon="pi pi-plus" (click)="showInsertDialog()" label="New Entry"
                class="p-button-rounded p-button-raised"></button></app-common-header>
    </div>
    <div class="col-12">
        <app-dynamic-table (actionButtonClicked)="handleButtonClick($event)" [numberRowsShown]="10"
            rowSelectionMode="multiple" [rowsPerPageOptions]="[10,30,50]" [actionButtons]="tableActionButton"
            [headers]="tableData!.headers" [data]="tableData.data" [dataCount]="tableData.dataCount">
        </app-dynamic-table>
    </div>
</div>


<p-dialog header="Category Entry" [(visible)]="displayInsertModal" [modal]="true" [style]="{width: '30vw'}"
    [baseZIndex]="10000">
    <form [formGroup]="categoryEntryForm" class="flex flex-column gap-4 mt-3">
        <div class="flex gap-2">
            <div class="flex-auto">
                <label for="Description" class="block mb-1 text-color text-lg">Description</label>
                <input formControlName="description" type="text" pinputtext="" placeholder="Eg: Special Adhesive"
                    class="p-inputtext p-component p-element w-full">
            </div>
            <div class="flex-auto">
                <label for="Stamp Category" class="block mb-1 text-color text-lg">Stamp Category (2 char)<sup>*</sup></label>
                <input formControlName="stampCategory1" type="text" pinputtext="" placeholder="Eg: EC"
                    class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <!-- TODO -->
        <!-- <p-button label="Submit" (click)="addDiscountDetails()" class="justify-content-center"></p-button> -->
    </form>
    <div class="flex gap-2 justify-content-end pt-3">
        <button pbutton="" pripple="" label="Submit" (click)="addCategory()" class="p-element p-ripple p-button-rounded p-button p-component">
            <span class="p-button-label">Submit</span><span class="p-ink"></span>
        </button>
    </div>
</p-dialog>