<div class="grid fadein animation-duration-500">
    <app-option-card  logo='stamps' optionName="Stamp Indent & Invoice" class="col-12 lg:col-6 xl:col-3" [routerLink]="['stamps']"></app-option-card>
    <app-option-card  logo='stamp-management' optionName="Stamp Management" class="col-12 lg:col-6 xl:col-3" [routerLink]="['stamp-management']"></app-option-card>
    <app-option-card  logo='stamp-reports' optionName="Stamp Reports" class="col-12 lg:col-6 xl:col-3" [routerLink]="['reports']"></app-option-card>
</div>