<p-card>
    <p-divider></p-divider>
    <div class="grid">
        <div class="col-12">
            <p-panel header="Reference" [toggleable]="true">
                <div class="col-12 flex">
                    <div class="col-4 flex">
                        <label for="">DDO Code</label>
                        <p class="ml-2">{{ onlineBill?.ddoCode }}</p>
                    </div>
                    <div class="col-4 flex">
                        <label for="">Selected Reference Id</label>
                        <p class="ml-2">{{ onlineBill?.referenceNo }}</p>
                    </div>
                    <div class="col-4 flex">
                        <label for="" class="mr-2">Physical Bill Receive Date</label>
                        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="col-12">
            <p-panel header="Bill Receive" [toggleable]="true">
                <div class="col-12 flex">
                    <div class="col-3 flex">
                        <label for="">Bill No</label>
                        <p class="ml-2">{{ onlineBill?.billNo }}</p>
                    </div>
                    <div class="col-3 flex">
                        <label for="">Bill Date</label>
                        <p class="ml-2">{{ onlineBill?.billDate }}</p>
                    </div>
                    <div class="col-3 flex">
                        <label for="" class="mr-2">Bill Type</label>
                        <p class="ml-2">{{ onlineBill?.billType }}</p>
                    </div>
                    <div class="col-3 flex">
                        <label for="" class="mr-2">Bill Sub Type</label>
                        <p class="ml-2">{{ onlineBill?.billSubType }}</p>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="col-12">
            <p-panel header="Allotment Details" [toggleable]="true">
                <div class="col-12 flex">
                    <div class="col-3 flex">
                        <label for="">DDO Code :</label>
                        <p class="ml-2">{{ onlineBill?.ddoCode }}</p>
                    </div>
                    <div class="col-3 flex">
                        <label for="">DDO Designation:</label>
                        <p class="ml-2">{{ onlineBill?.ddoDesignation }}</p>
                    </div>
                    <div class="col-3 flex">
                        <label for="" class="mr-2">Payee Department:</label>
                        <p class="ml-2">{{ onlineBill?.payeeDepartment }}</p>
                    </div>
                    <div class="col-3 flex">
                        <label for="" class="mr-2">Head of A/c:</label>
                        <p class="ml-2">{{ onlineBill?.referenceNo }}</p>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="col-12">
            <p-panel header="Allotment Details" [toggleable]="true">
                <div class="col-12 flex">
                    <div class="col-4 flex">
                        <label for=""> By Transfer Amount:</label>
                        <p class="ml-2">{{ onlineBill?.transferAmount }}</p>
                    </div>
                    <div class="col-4 flex">
                        <label for="">Net Amount:</label>
                        <p class="ml-2">{{ onlineBill?.netAmount }}</p>
                    </div>
                    <div class="col-4 flex">
                        <label for="" class="mr-2">Gross Amount:</label>
                        <p class="ml-2">{{ onlineBill?.grossAmount }}</p>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="col-12">
            <div class="formgroup-inline">
                <div class="field col-12">
                    <label htmlFor="name1">Remarks</label>
                    <textarea rows="2" cols="30" pInputTextarea placeholder="Write your remarks"></textarea>
                </div>
            </div>
        </div>

    </div>
</p-card>