<div class="grid">
    <div class="col-12">
        <div class="grid">
            <div class="col">
                <div class="grid nested-grid">
                    <div class="col-fixed">
                        <img
                            src="assets/layout/images/icons/bill-receive.png"
                            alt="logo"
                            height="60"
                        />
                    </div>
                    <div class="col-11">
                        <div class="text-900 font-bold text-3xl mb-1">
                            Bill Receive
                        </div>
                        <div class="text-700 text-1xl line-height-3">Bill List.</div>
                    </div>
                </div>
            </div>
            <div class="col-fixed">
                <p-button
                    label="Menual Bill"
                    styleClass="p-button-rounded p-button-raised"
                    icon="pi pi-file-edit"
                ></p-button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <app-bill-receive-list></app-bill-receive-list>
    </div>
</div>
