<div class="grid fadein animation-duration-500">
  
    <app-option-card  logo='stamp' optionName="Entry" class="col-12 lg:col-6 xl:col-3" [routerLink]="['entry']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Pensioner Status" class="col-12 lg:col-6 xl:col-3" [routerLink]="['entry']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Convert to Family Pension" class="col-12 lg:col-6 xl:col-3" [routerLink]="['convert-to-family-pension']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Life Certificate" class="col-12 lg:col-6 xl:col-3" [routerLink]="['life-certificate']"></app-option-card>
    <app-option-card  logo='stamp' optionName="PPO Search" class="col-12 lg:col-6 xl:col-3" [routerLink]="['entry']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Convert Family to Family" class="col-12 lg:col-6 xl:col-3" [routerLink]="['entry']"></app-option-card>
    <app-option-card  logo='stamp' optionName="CPF- Cum Gratuity" class="col-12 lg:col-6 xl:col-3" [routerLink]="['entry']"></app-option-card>
    <app-option-card  logo='stamp' optionName="ePPO" class="col-12 lg:col-6 xl:col-3" [routerLink]="['sanction']"></app-option-card>
    <app-option-card  logo='stamp' optionName="Manual PPO Receipt" class="col-12 lg:col-6 xl:col-3" [routerLink]="['manualPpoReceipt']"></app-option-card>
  
  </div>
  
  
    