<div class="grid fadein animation-duration-500">
  
    <app-option-card  logo='pension-entry' optionName="Entry" class="col-12 lg:col-6 xl:col-3" [routerLink]="['entry']"></app-option-card>
    <app-option-card  logo='work-in-progress' optionName="Pensioner Status" class="col-12 lg:col-6 xl:col-3" routerLink="pensioner-status"></app-option-card>
    <app-option-card  logo='family-pension' optionName="Convert to Family Pension" class="col-12 lg:col-6 xl:col-3" [routerLink]="['convert-to-family-pension']"></app-option-card>
    <app-option-card  logo='life-certification' optionName="Life Certificate" class="col-12 lg:col-6 xl:col-3" [routerLink]="['life-certificate']"></app-option-card>
    <app-option-card  logo='work-in-progress' optionName="PPO Search" class="col-12 lg:col-6 xl:col-3"></app-option-card>
    <app-option-card  logo='work-in-progress' optionName="Convert Family to Family" class="col-12 lg:col-6 xl:col-3"></app-option-card>
    <app-option-card  logo='work-in-progress' optionName="CPF- Cum Gratuity" class="col-12 lg:col-6 xl:col-3"></app-option-card>
    <app-option-card  logo='work-in-progress' optionName="ePPO" class="col-12 lg:col-6 xl:col-3"></app-option-card>
    <app-option-card  logo='ppo-receipt' optionName="Manual PPO Receipt" class="col-12 lg:col-6 xl:col-3" [routerLink]="['manualPpoReceipt']"></app-option-card>
  
  </div>
  
  
    