<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Requisition Approval'" [imgSrc]="'assets/layout/images/icons/requisition-approval.png'">
        </app-common-header>
    </div>
    <!-- <div class="col-12">
        <div class="grid">
            <div class="col-12 lg:col-6 p-3">
                <div class="transition-colors transition-duration-500 p-3 border-round border-2 cursor-pointer"
                    [ngClass]="{
                    'hover:shadow-2 surface-card border-transparent hover:bg-primary-100 hover:border-primary':listType!== 'new',
                    'bg-primary-100 border-primary': listType === 'forwarded'
                  }" (click)="changeDynamicTable('forwarded')">
                    <div class="flex align-items-center justify-content-between">
                        <div>
                            <p class="mt-1 mb-0 text-600 text-xl">Forwarded To TO</p>
                        </div>
                        <div>
                            <img src="assets/layout/images/icons/forwarded-to-TO.png" height="60">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 p-3">
                <div class="transition-colors transition-duration-500 p-3 border-round border-2 cursor-pointer"
                    [ngClass]="{
                    'hover:shadow-2 surface-card border-transparent hover:bg-primary-100 hover:border-primary':listType!=='approvedByClerk',
                    'bg-primary-100 border-primary': listType === 'waitingPaymentVerification'
                  }" (click)="changeDynamicTable('waitingPaymentVerification')">
                    <div class="flex align-items-center justify-content-between">
                        <div>
                            <p class="mt-1 mb-0 text-600 text-xl">Waiting For Payment Verification</p>
                        </div>
                        <div>
                            <img src="assets/layout/images/icons/payment-verification.png" height="60">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-12">
        <!-- Skeleton -->
        <app-dynamic-table (actionButtonClicked)="handleButtonClick($event)" [numberRowsShown]="10"
            [rowsPerPageOptions]="[10,30,50]" [actionButtons]="tableActionButton"
            [headers]="tableData!.headers" [data]="tableData.data" [dataCount]="tableData.dataCount">
        </app-dynamic-table>
    </div>
</div>

<p-dialog header="Modify Requisition" [(visible)]="modal" [modal]="false" [style]="{'width': 'fit-content'}" [baseZIndex]="10000">
    <form [formGroup]="approveByTOForm" class="grid formgrid p-fluid">
        <div class="field mb-4 col-12 md:col-6">
            <label for="sheet" class="font-medium text-900">Sheet</label>
            <input formControlName="sheet" type="text" pinputtext="" class="p-inputtext p-component p-element">
            <div *ngIf="approveByTOForm.controls['sheet'].errors && (approveByTOForm.controls['sheet'].dirty || approveByTOForm.controls['sheet'].touched)">
                <small class="p-error" *ngIf="approveByTOForm.controls['sheet'].errors['required']">No of Sheets is required.</small>
                <small class="p-error" *ngIf="approveByTOForm.controls['sheet'].errors['min']">Minimun no of sheets is 1.</small>
            </div>
        </div>
        <div class="field mb-4 col-12 md:col-6">
            <label for="label" class="font-medium text-900">Label</label>
            <input type="text" formControlName="label" pinputtext="" class="p-inputtext p-component p-element">
            <div *ngIf="approveByTOForm.controls['label'].errors && (approveByTOForm.controls['label'].dirty || approveByTOForm.controls['label'].touched)">
                <small class="p-error" *ngIf="approveByTOForm.controls['label'].errors['required']">No of labels is required.</small>
                <small class="p-error" *ngIf="approveByTOForm.controls['label'].errors['min']">Minimun no of labels is 1.</small>
            </div>
        </div>
      </form>
    <div class="w-full flex justify-content-end align-items-center">
        <button pbutton="" pripple="" icon="pi pi-file" (click)="approveByTO()" class="p-element p-ripple w-auto p-button p-component">
            <span class="p-button-label">Approve Requisition</span>
        </button>
    </div>
</p-dialog>