<form [formGroup]="onlineBill">
    <div class="grid">
        <div class="col-12">
            <p-fieldset legend="Reference" [toggleable]="true" class="line-height-3 m-0">
                <div class="card p-fluid">
                    <div class="formgroup-inline">
                        <div class="col-12 mb-2 lg:col-4 lg:mb-0 md:col-6">
                            <label for="">Selected DDO Code </label>
                            <input type="text" pInputText placeholder="DDO Code" formControlName="ddoCode"
                                [disabled]="true">
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-0 md:col-6">
                            <label for="">Selected Reference Id</label>
                            <input type="text" placeholder="Reference Id" class="p-inputtext p-component p-element"
                                formControlName="referenceNo">
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-0 md:col-6">
                            <label for="">Physical Bill Receive Date </label>
                            <p-calendar [showIcon]="true" inputId="icon"
                                formControlName="physicalBillDate"></p-calendar>
                        </div>

                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <p-fieldset legend="Bill Receive" [toggleable]="true" class="line-height-3 m-0">
                <div class="card p-fluid">
                    <!-- ---------------- Bill Receive ----------------- -->
                    <!-- <div class="formgroup-inline">
                    <div class="field lg:col-4 md:col-6 col-12">
                        <label htmlFor="name1">Select Task</label>
                        <p-dropdown [options]="task" [(ngModel)]="selectedTask" optionLabel="label" optionValue="value" dataKey="task" formControlName="task"></p-dropdown>
                    </div>
                    <div class="field lg:col-4 md:col-6 col-12">
                        <label htmlFor="name2">Token No</label>
                        <p-dropdown [options]="token_no"  [(ngModel)]="selectedtoken" optionLabel="label" optionValue="value" dataKey="tokenno" formControlName="tokenno"></p-dropdown>                  
                    </div>
                    <div class="field lg:col-4 md:col-6 col-12">
                        <label htmlFor="name1">Token Date</label>
                        <p-calendar [showIcon]="true" inputId="icon" formControlName="tokendate"></p-calendar>
                    </div>
                </div> -->
                    <div class="formgroup-inline">
                        <div class="col-12 mb-2 lg:col-3 lg:mb-0 md:col-6">
                            <label for="">Bill No </label>
                            <input type="text" pinputtext="" placeholder="Bill No"
                                class="p-inputtext p-component p-element" formControlName="billNo">
                        </div>
                        <div class="col-12 mb-2 lg:col-2 lg:mb-0 md:col-6">
                            <label for="">Bill Date</label>
                            <input type="text" pInputText [disabled]="true" placeholder="Bill Date"
                                formControlName="billdate">

                            <!-- <p-calendar [showIcon]="true" inputId="icon" formControlName="billdate"  dateFormat="yy/mm/dd"  [readonlyInput]="true"></p-calendar> -->
                        </div>

                        <div class="col-12 mb-2 lg:col-4 lg:mb-0 lg:mt-5">
                            <div class="flex justify-content-center">
                                <div class="flex flex-wrap gap-3">
                                    <label for="">Bill Type</label>
                                    <div *ngFor="let billtype of billtypes" class="flex align-items-center">
                                        <p-radioButton [value]="billtype.key" [inputId]="billtype.key"
                                            formControlName="billType"></p-radioButton>
                                        <label for="ingredient1" class="ml-2">{{ billtype.name }}</label>
                                    </div>
                                    <!--                                 
                                <div class="flex align-items-center">
                                    <p-radioButton  value="Employee"  inputId="Employee" formControlName="employee"></p-radioButton>
                                    <label for="ingredient2" class="ml-2">Employee</label>
                                </div>                            -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-2 lg:col-3 lg:mb-0 md:col-6">
                            <label for="">Bill Sub Type: </label>
                            <input type="text" pinputtext="Bill Sub Type" placeholder="Bill Sub Type"
                                class="p-inputtext p-component p-element" formControlName="billSubType">
                            <!-- <p-dropdown optionLabel="label" optionValue="value" dataKey="tokenno" placeholder="Bill Sub" formControlName="billSubType"
                        ></p-dropdown> -->
                        </div>
                    </div>
                    <!-- ---------------- //Bill Receive ----------------- -->
                </div>
            </p-fieldset>
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <p-fieldset legend="Allotment Details" [toggleable]="true" class="line-height-3 m-0">
                <div class="card p-fluid">
                    <div class="formgroup-inline">
                        <div class="field md:col-3 col-12">
                            <label htmlFor="name1">DDO Code :</label>
                            <input type="text" pinputtext="" placeholder="" class="p-inputtext p-component p-element"
                                formControlName="ddoCodeNo">
                        </div>
                        <div class="field md:col-9 col-12">
                            <label htmlFor="name1">DDO Designation:</label>
                            <input type="text" pinputtext="" placeholder="" class="p-inputtext p-component p-element"
                                formControlName="ddoDesignation">
                        </div>
                    </div>
                    <div class="formgroup-inline">
                        <div class="field md:col-3 col-12">
                            <label htmlFor="name1">Payee Department:</label>
                            <input type="text" pinputtext="" placeholder="" class="p-inputtext p-component p-element"
                                formControlName="payeeDepartment">
                        </div>
                        <div class="field md:col-9 col-12">
                            <label htmlFor="name1">Head of A/c:</label>
                            <input type="text" pinputtext="" placeholder="" class="p-inputtext p-component p-element"
                                formControlName="Hoa">
                            <!-- <p-inputMask mask="00-00-00-00-00-00" placeholder="00-00-00-00-00-00" formControlName="Hoa"></p-inputMask> -->
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <p-fieldset legend="
            Payment Details & Remarks" [toggleable]="true" class="line-height-3 m-0">
                <div class="card p-fluid">
                    <div class="formgroup-inline">
                        <div class="field md:col-4 col-12">
                            <label htmlFor="name1">Gross Amount:</label>
                            <input pInputText id="name1" type="text" placeholder="Gross Amount"
                                formControlName="grossAmount" />
                        </div>
                        <div class="field md:col-4 col-12">
                            <label htmlFor="name1">Net Amount:</label>
                            <input pInputText id="name1" type="text" placeholder="Net Amount"
                                formControlName="netAmount" />
                        </div>
                        <div class="field md:col-4 col-12">
                            <label htmlFor="name1"> By Transfer Amount:</label>
                            <input pInputText id="name1" type="text" placeholder="Transfer Amount"
                                formControlName="transferAmount" />
                        </div>
                    </div>
                    <div class="formgroup-inline">
                        <div class="field col-12">
                            <label htmlFor="name1">Remarks</label>
                            <textarea rows="2" cols="30" pInputTextarea placeholder="Write your remarks"
                                formControlName="remarks"></textarea>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <div class="flex flex-wrap gap-2 justify-content-center">
                    <button pButton pRipple type="submit" label="Save" class="p-button-rounded p-button-info"
                        (click)="formSubmit()"></button>
                </div>
            </div>
        </div>
    </div>
</form>