<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Type Entry'" [imgSrc]="'assets/layout/images/icons/type-entry.png'">
            <button pButton pRipple type="button" icon="pi pi-plus" label="New Entry"
                class="p-button-rounded p-button-raised"(click)="showInsertDialog()" ></button></app-common-header>
    </div>
    <div class="col-12">
        <app-dynamic-table (actionButtonClicked)="handleButtonClick($event)"
        [numberRowsShown]="10" rowSelectionMode="multiple" [rowsPerPageOptions]="[10,30,50]"
        [actionButtons]="tableActionButton" 
        [headers]="tableData!.headers" [data]="tableData.data"
        [dataCount]="tableData.dataCount"
        >
    </app-dynamic-table>
    </div>
</div>


<p-dialog header="Type (Denomination) Entry" [(visible)]="displayInsertModal" [modal]="true" [style]="{width: '30vw'}"
    [baseZIndex]="10000">
    <form [formGroup]="typeEntryForm" class="flex flex-column gap-4 mt-3">
        <div class="flex gap-2">
            <div class="col-12 p-0">
                <label for="denomination" class="block mb-1 text-color text-lg">Denomination</label>
                <input formControlName="denomination" type="number" pinputtext="" placeholder="Eg: 20"
                       class="p-inputtext p-component p-element w-full">
                <div *ngIf="typeEntryForm.controls['denomination'].errors && (typeEntryForm.controls['denomination'].dirty || typeEntryForm.controls['denomination'].touched)">
                  <small class="p-error" *ngIf="typeEntryForm.controls['denomination'].errors['required']">Denomination is required.</small>
                  <small class="p-error" *ngIf="typeEntryForm.controls['denomination'].errors['greaterThanZero']">Denomination must be greater than 0.</small>
                </div>
              </div>
        </div>
    </form>
    <div class="flex gap-2 justify-content-end pt-3">
        <button pbutton="" pripple="" label="Submit" (click)="addType()" class="p-element p-ripple p-button-rounded p-button p-component">
            <span class="p-button-label">Submit</span><span class="p-ink"></span>
        </button>
    </div>
</p-dialog>