<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Type Entry'" [imgSrc]="'assets/layout/images/icons/type-entry.png'">
            <button pButton pRipple type="button" icon="pi pi-plus" label="New Entry"
                class="p-button-rounded p-button-raised"(click)="showInsertDialog()" ></button></app-common-header>
    </div>
    <div class="col-12">
        <app-dynamic-table (actionButtonClicked)="handleButtonClick($event)"
        [numberRowsShown]="10" rowSelectionMode="multiple" [rowsPerPageOptions]="[10,30,50]"
        [actionButtons]="tableActionButton" 
        [headers]="tableData!.headers" [data]="tableData.data"
        [dataCount]="tableData.dataCount"
        >
    </app-dynamic-table>
    </div>
</div>


<p-dialog header="Type (Denomination) Entry" [(visible)]="displayInsertModal" [modal]="true" [style]="{width: '30vw'}"
    [baseZIndex]="10000">
    <form [formGroup]="TypeEntryForm" class="flex flex-column gap-4 mt-3">
        <div class="flex gap-2">
            <div class="col-12 p-0">
                <label for="Denomination" class="block mb-1 text-color text-lg">Denomination</label>
                <input formControlName="denomination" type="number" pinputtext="" placeholder="Eg: 20"
                    class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <!-- TODO -->
        <!-- <p-button label="Submit" (click)="addDiscountDetails()" class="justify-content-center"></p-button> -->
    </form>
    <div class="flex gap-2 justify-content-end pt-3">
        <!-- TODO: (click)="addDiscountDetails()" -->
        <button pbutton="" pripple="" label="Submit" class="p-element p-ripple p-button-rounded p-button p-component">
            <span class="p-button-label">Submit</span><span class="p-ink"></span>
        </button>
    </div>
</p-dialog>