<div class="grid fadein animation-duration-500">
    <app-option-card  logo='label' optionName="Label" class="col-12 lg:col-6 xl:col-3" [routerLink]="['label']"></app-option-card>
    <app-option-card  logo='category' optionName="Category" class="col-12 lg:col-6 xl:col-3" [routerLink]="['category']"></app-option-card>
    <app-option-card  logo='type' optionName="Type" class="col-12 lg:col-6 xl:col-3" [routerLink]="['type']"></app-option-card>
    <app-option-card  logo='vendor' optionName="Vendor" class="col-12 lg:col-6 xl:col-3" [routerLink]="['vendor']"></app-option-card>
    <app-option-card  logo='discount' optionName="Discount Details" class="col-12 lg:col-6 xl:col-3" [routerLink]="['discount-details']"></app-option-card>
    <app-option-card  logo='combination' optionName="Stamp  Combination" class="col-12 lg:col-6 xl:col-3" [routerLink]="['combination']"></app-option-card>
</div>