<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Invoice Capture'" [imgSrc]="'assets/layout/images/icons/invoice-entry.png'">
        </app-common-header>
    </div>
    <div class="col-12">
        <div class="grid">
            <div class="col-12 lg:col-6 p-3">
                <div class="transition-colors transition-duration-500 p-3 border-round border-2 cursor-pointer"
                    [ngClass]="{
                    'hover:shadow-2 surface-card border-transparent hover:bg-primary-100 hover:border-primary':listType!== 'indent',
                    'bg-primary-100 border-primary': listType == 'indent'
                  }" (click)="changeDynamicTable('indent')">
                    <!--  -->
                    <div class="flex align-items-center justify-content-between">
                        <div>
                            <p class="mt-1 mb-0 text-600 text-xl">Indents</p>
                        </div>
                        <div>
                            <img src="assets/layout/images/icons/incoming-indents.png" height="60">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 p-3">
                <div class="transition-colors transition-duration-500 p-3 border-round border-2 cursor-pointer"
                    [ngClass]="{
                    'hover:shadow-2 surface-card border-transparent hover:bg-primary-100 hover:border-primary':listType!=='invoice',
                    'bg-primary-100 border-primary': listType=== 'invoice'
                  }" (click)="changeDynamicTable('invoice')">
                    <!--  -->
                    <div class="flex align-items-center justify-content-between">
                        <div>
                            <p class="mt-1 mb-0 text-600 text-xl">Invoice History</p>
                        </div>
                        <div>
                            <img src="assets/layout/images/icons/invoice-history.png" height="60">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <app-dynamic-table (actionButtonClicked)="handleButtonClick($event)" [numberRowsShown]="10"
            rowSelectionMode="multiple" [rowsPerPageOptions]="[10,30,50]" [actionButtons]="tableActionButton"
            [headers]="tableData!.headers" [data]="tableData.data" [dataCount]="tableData.dataCount">
        </app-dynamic-table>
    </div>
</div>

<p-dialog header="Modify Indent" [(visible)]="displayModifyModal" [modal]="true" [style]="{width: '50vw'}"
    [baseZIndex]="10000" [draggable]="false">
    <hr class="mb-2" />
    <div class="w-full border-rounded p-2 flex flex-column gap-2 align-items-start">
        <h5 class="text-red-500">Current Balance</h5>
        <div class="flex align-items-center justify-content-between w-full">
            <div class="flex align-items-center gap-2">
                <label class="block mb-1 text-gray-500 font-medium" for="No of sheets">No of sheets</label>
                <input pinputtext="" disabled type="text" [value]="noOfSheets" class="pl-1 border-rounded py-1">
            </div>
            <div class="flex align-items-center gap-2">
                <label class="block mb-1 text-gray-500 font-medium" for="No of labels/sheet">No of labels/sheet</label>
                <input pinputtext="" disabled type="text" [value]="noOfLabelsPerSheet" class="pl-1 border-rounded py-1">
            </div>
        </div>
    </div>
    <hr class="mb-4" />
    <form [formGroup]="stampInvoiceForm" class="flex flex-column gap-4 mt-3">
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="Memo No:" class="block mb-1 font-medium text-900">Memo No:</label>
                <input type="text" pinputtext="" readonly disabled [value]="memoNumber" placeholder="Eg: MEMO5256" class="p-inputtext p-component p-element w-full">
            </div>
            <div class="flex-auto">
                <label for="Memo Date" class="block mb-1 font-medium text-900">Memo Date</label>
                <input class="p-inputtext p-component p-element w-full" readonly disabled [value]="memoDate" placeholder="dd/mm/yyyy"/>
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="col-12 p-0 flex-auto">
                <label for="Combination" class="block mb-1 font-medium text-900">Combination</label>
                <input type="text" pinputtext="" [value]="combination" readonly disabled class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-1">
                <label for="Treasury/Superintendent" class="block mb-1 font-medium text-900">Treasury
                    (<span class="font-medium text-gray-900">Default: </span> <span
                        class="font-medium text-gray-500">Superintendent</span>)</label>
                <input class="p-inputtext p-component p-element w-full" [value]="treasury" readonly disabled />
            </div>
            <div class="flex-1">
                <label for="Description" class="block mb-1 font-medium text-900">Description</label>
                <input type="text" pinputtext="" [value]="description" readonly disabled
                    class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="Denomination (Rs.)" class="block mb-1 font-medium text-900">Denomination (Rs.)</label>
                <input type="number" pinputtext="" [value]="denomination" readonly disabled class="p-inputtext p-component p-element w-full">
            </div>
            <div class="flex-auto">
                <label for="Label/Sheet" class="block mb-1 font-medium text-900">Label/Sheet</label>
                <input type="text" pinputtext="" [value]="labelPerSheet" readonly disabled class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="No: of Sheets" class="block mb-1 font-medium text-900">No: of Sheets</label>
                <input type="number" pinputtext="" [value]="sheet" formControlName="noOfSheets" placeholder="Eg: 10"
                    class="p-inputtext p-component p-element w-full">
                <div *ngIf="stampInvoiceForm.controls['noOfSheets'].errors && (stampInvoiceForm.controls['noOfSheets'].dirty || stampInvoiceForm.controls['noOfSheets'].touched)">
                    <small class="p-error" *ngIf="stampInvoiceForm.controls['noOfSheets'].errors['required']">No: of Sheets is required.</small>
                    <small class="p-error" *ngIf="stampInvoiceForm.controls['noOfSheets'].errors['pattern']">Please enter a valid number.</small>
                </div>
            </div>
            <div class="flex-auto">
                <label for="No: of Labels" class="block mb-1 font-medium text-900">No: of Labels</label>
                <input type="number" pinputtext="" [value]="label" formControlName="noOfLabels" placeholder="Eg: 10"
                    class="p-inputtext p-component p-element w-full">
                <div *ngIf="stampInvoiceForm.controls['noOfLabels'].errors && (stampInvoiceForm.controls['noOfLabels'].dirty || stampInvoiceForm.controls['noOfLabels'].touched)">
                    <small class="p-error" *ngIf="stampInvoiceForm.controls['noOfLabels'].errors['required']">No: of Labels is required.</small>
                    <small class="p-error" *ngIf="stampInvoiceForm.controls['noOfLabels'].errors['pattern']">Please enter a valid number.</small>
                </div>
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="Quantity" class="block mb-1 font-medium text-900">Quantity</label>
                <input type="text" pinputtext="" readonly disabled [value]="quantity" class="p-inputtext p-component p-element w-full">
            </div>
            <div class="flex-auto">
                <label for="Amount (Rs.)" class="block mb-1 font-medium text-900">Amount (Rs.)</label>
                <input type="text" pinputtext="" readonly disabled [value]="amount" class="p-inputtext p-component p-element w-full">
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="Invoice Number" class="block mb-1 font-medium text-900">Invoice Number</label>
                <input type="text" pinputtext="" formControlName="invoiceNumber" class="p-inputtext p-component p-element w-full">
                <div *ngIf="stampInvoiceForm.controls['invoiceNumber'].errors && (stampInvoiceForm.controls['invoiceNumber'].dirty || stampInvoiceForm.controls['invoiceNumber'].touched)">
                    <small class="p-error" *ngIf="stampInvoiceForm.controls['invoiceNumber'].errors['required']">Invoice Number is required.</small>
                </div>
            </div>
            <div class="flex-auto">
                <label for="Invoice Date" class="block mb-1 font-medium text-900">Invoice Date</label>
                <p-calendar class="p-component p-element w-full p-calendar" formControlName="invoiceDate" placeholder="dd/mm/yyyy"
                    appendTo="body" [showIcon]="true" inputId="icon"></p-calendar>
                <div *ngIf="stampInvoiceForm.controls['invoiceDate'].errors && (stampInvoiceForm.controls['invoiceDate'].dirty || stampInvoiceForm.controls['invoiceDate'].touched)">
                    <small class="p-error" *ngIf="stampInvoiceForm.controls['invoiceDate'].errors['required']">Invoice Date is required.</small>
                </div>
            </div>
        </div>
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="Remarks" class="block mb-1 font-medium text-900">Remarks</label>
                <textarea type="text" pinputtext="" readonly [value]="remarks" formControlName="remarks" placeholder="Eg: Indent for Kolkata treasury." class="p-inputtext p-component p-element w-full"></textarea>
            </div>
        </div>
    </form>
    <div class="flex gap-2 xl:flex-row flex-column justify-content-end pt-3">
        <p-button label="Invoice" (click)="addStampInvoice()" iconPos="right"
            class="p-0 p-button-rounded p-button p-component" icon="pi pi-arrow-right">
        </p-button>
    </div>
</p-dialog>

<p-dialog header="Invoice Details" [(visible)]="displayDetailsModal" [modal]="true" [style]="{width: 'max-content'}"
    [baseZIndex]="10000" [draggable]="false">
    <hr class="mb-4" />

<div class="asked w-full flex flex-column gap-2">
    <div class="treasury-code flex gap-4 align-items-center w-full">
        <label class="w-12rem font-semibold" for="Treasury Code: ">By Treasury Code: </label>
        <input type="text" [value]="tcode" class="p-inputtext p-component p-element" readonly disabled>
    </div>
    <div class="no-of-sheet flex gap-4 align-items-center w-full">
        <label class="w-12rem font-semibold" for=">No: Of sheet asked: ">No: Of sheet asked: </label>
        <input type="text" [value]="sheetAsked" class="p-inputtext p-component p-element" readonly disabled>
    </div>
    <div class="no-of-sheet flex gap-4 align-items-center w-full">
        <label class="w-12rem font-semibold" for=">No: Of sheet given: ">No: Of sheet given: </label>
        <input type="text" [value]="sheetGiven" class="p-inputtext p-component p-element" readonly disabled>
    </div>
    <div class="no-of-sheet flex gap-4 align-items-center w-full">
        <label class="w-12rem font-semibold" for=">No: Of sheet asked: ">No: Of label asked: </label>
        <input type="text" [value]="labelAsked" class="p-inputtext p-component p-element" readonly disabled>
    </div>
    <div class="no-of-sheet flex gap-4 align-items-center w-full">
        <label class="w-12rem font-semibold" for=">No: Of sheet given: ">No: Of label given: </label>
        <input type="text" [value]="labelGiven" class="p-inputtext p-component p-element" readonly disabled>
    </div>
</div>
</p-dialog>