<div class="grid">
    <div class="col-12">
        <div class="grid">
            <div class="col">
                <div class="grid nested-grid">
                    <div class="col-fixed">
                        <img
                            src="assets/layout/images/icons/payment-mandate.png"
                            alt="logo"
                            height="60"
                        />
                    </div>
                    <div class="col-11">
                        <div class="text-900 font-bold text-3xl mb-1">
                            Payment Mandate
                        </div>
                        <!-- <div class="text-700 text-1xl line-height-3">List of return Memo.</div> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-fixed">
                <button pButton pRipple label="Close" type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-raised" [routerLink]="['/']"></button>
            </div> -->
        </div>
    </div>
    <div class="col-12">
        <div class="grid">
            <app-option-card
                logo="short-list"
                optionName="Pay Mandate Shortlist"
                class="col-12 lg:col-4 xl:col-4"
                [routerLink]="['short-list']"
            ></app-option-card>
            <app-option-card
                logo="pay-mandate"
                optionName="Pay Mandate"
                class="col-12 lg:col-4 xl:col-4"
                [routerLink]="['/payment-mandate']"
            ></app-option-card>
        </div>
    </div>
</div>
