<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Pay Mandate'"
        [imgSrc]="'assets/layout/images/icons/payment-mandate.png'"></app-common-header>
    </div>
    <div class="col-12">
        <div class="grid">
            <app-option-card
                logo="short-list"
                optionName="Pay Mandate Shortlist"
                class="col-12 lg:col-4 xl:col-4"
                [routerLink]="['short-list']"
            ></app-option-card>
            <app-option-card
                logo="pay-mandate"
                optionName="Pay Mandate"
                class="col-12 lg:col-4 xl:col-4"
                [routerLink]="['/payment-mandate']"
            ></app-option-card>
        </div>
    </div>
</div>
