<div class="w-screen h-full flex align-items-center justify-content-center">
  <div class="p-col-12 p-md-8">
    <h1 class="text-center text-2xl font-bold">T.R. FORM NO.-7</h1>
    <p class="text-center text-2xl">[See sub-rule (2)(b) of T.R.3.06]</p>
    <h2 class="text-center font-bold">
      Challan for Deposit of money in the account of GOVERNMENT OF WEST BENGAL
    </h2>
    <form class="flex flex-column gap-4">
      <div class="flex gap-4">
        <label for="bankBranch" class="p-d-block font-bold">1. Name of the Bank & Branch:</label>
        <input pInputText id="bankBranch"  class="p-inputtext p-component p-element" formControlName="bankBranch" />
      </div>
      <div class="p-field">
        <label for="treasuryName" class="p-d-block font-bold">2. (a). Name of the Treasury:</label>
        <input pInputText id="treasuryName" formControlName="treasuryName" />
        <label for="treasuryCode" class="p-d-block font-bold mt-2">(b). Treasury Code:</label>
        <div class="p-grid p-nogutter">
          <div class="p-col-2">
            <input pInputText maxlength="1" class="p-text-center" />
          </div>
        </div>
      </div>
      <div class="p-field">
        <label for="accountCode" class="p-d-block font-bold">3. Account Code:</label>
        <div class="p-grid p-nogutter">
          <div class="p-col-1">
            <input pInputText maxlength="1" class="p-text-center" />
          </div>
        </div>
        <p class="text-sm mt-1">(14- Digits must be filled up properly)</p>
      </div>
      <div class="p-field">
        <label for="detailHead" class="p-d-block font-bold">4. Detail Head of Account:</label>
        <input pInputText id="detailHead" formControlName="detailHead" />
      </div>
      <div class="p-field">
        <label for="amount" class="p-d-block font-bold">5. (a) Amount : Rs.</label>
        <input pInputText id="amount" formControlName="amount" />
        <label for="amountWords" class="p-d-block font-bold mt-2">(b) In Words: Rupees:</label>
        <input pInputText id="amountWords" formControlName="amountWords" />
      </div>
      <div class="p-field">
        <label for="tenderedBy" class="p-d-block font-bold">6. By whom tendered – Name & Address:</label>
        <input pInputText id="tenderedBy" formControlName="tenderedBy" />
      </div>
      <div class="p-field">
        <label for="departmentalOfficer" class="p-d-block font-bold">
          7. Name / Designation & Address of the Departmental Officer on whose behalf / favour money is paid:
        </label>
        <input pInputText id="departmentalOfficer" formControlName="departmentalOfficer" />
      </div>
      <div class="p-field">
        <label for="depositAuthority" class="p-d-block font-bold">8. (a) Particulars & Authority of Deposit:</label>
        <input pInputText id="depositAuthority" formControlName="depositAuthority" />
        <label for="tvNo" class="p-d-block font-bold mt-2">1 * (b) T.V. No. & Date of A.C. Bill:</label>
        <input pInputText id="tvNo" formControlName="tvNo" />
      </div>
      <div class="p-field">
        <label class="p-d-block font-bold">
          9. Accounts Officer by whom adjustable: Accountant General (A&E), West Bengal.
        </label>
        <p class="mt-2">Verified</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="deptOfficerSignature" class="p-d-block font-bold">Signature of Departmental / Treasury Officer</label>
            <input pInputText id="deptOfficerSignature" formControlName="deptOfficerSignature" />
          </div>
        </div>
        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="depositorSignature" class="p-d-block font-bold">Depositor’s Signature</label>
            <input pInputText id="depositorSignature" formControlName="depositorSignature" />
          </div>
        </div>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="date" class="p-d-block font-bold">Date:</label>
            <input pInputText id="date" formControlName="date" />
          </div>
        </div>
        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="challanNo" class="p-d-block font-bold">Treasury Receipted Challan No.</label>
            <input pInputText id="challanNo" formControlName="challanNo" />
          </div>
        </div>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="scrollNo" class="p-d-block font-bold">Received payment. Bank Scroll Serial No.</label>
            <input pInputText id="scrollNo" formControlName="scrollNo" />
          </div>
        </div>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="bankReceipt" class="p-d-block font-bold">Receipt by Bank / Treasury</label>
            <input pInputText id="bankReceipt" formControlName="bankReceipt" />
          </div>
        </div>
        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="bankSignature" class="p-d-block font-bold">Signature with seal of the Bank.</label>
            <input pInputText id="bankSignature" formControlName="bankSignature" />
          </div>
        </div>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="bankDate" class="p-d-block font-bold">Date:</label>
            <input pInputText id="bankDate" formControlName="bankDate" />
          </div>
        </div>
      </div>
      <p class="text-sm mt-4">1 * In respect of Challan relating to refund of unspent amount of A.C. Bill</p>
    </form>
  </div>
</div>
