<div class="grid">
    <div class="col-12">
        <app-common-header
            [headerName]="'Pension Caregory Details'"
            [imgSrc]="'assets/layout/images/icons/indent-entry.png'"
        >
            <button
                pButton
                pRipple
                (click)="showInsertDialog()"
                type="button"
                icon="pi pi-plus"
                label="New"
                class="p-button-rounded p-button-raised"
            ></button>
        </app-common-header>
    </div>
    <div class="col-12">
        <mh-prime-dynamic-table
        size="small"
        [data]="tableData"
        [numberRowsShown]="10"
        [rowsPerPageOptions]="[10, 30, 50,100]"

        [showTopMenubar]="true"
        [isLoading]="isTableDataLoading"
        [actionButtons]="tableActionButton"
        [childActionButtons]="tableChildActionButton"
        (rowSelect)="handleRowSelection($event)"
        (queryParameterChange)="handQueryParameterChange($event)"
        (searchKeyChange)="handsearchKeyChange($event)"
        ></mh-prime-dynamic-table>
    </div>
</div>

<p-dialog
    header="Pension Category Details"
    [(visible)]="displayInsertModal"
    [modal]="true"
    [style]="{ width: '30vw' ,height: '40vh'}"
    [baseZIndex]="10000"

>
    <form [formGroup]="PensionForm" class="flex flex-column gap-4 mt-3 overflow-visible">
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto w-full">
                <label
                    for="pensionerName"
                    class="flex-auto block mb-1 text-color text-lg"
                    >Primary Category Id:</label
                >
                <p-dropdown
                    [options]="primary_id_select"
                    formControlName="PrimaryCategoryId"
                    placeholder="Primary Category Id"
                    [showClear]="true"
                ></p-dropdown>
            </div>

            <div class="flex-auto "
            >
                <label class="block mb-1 text-color text-lg"
                    >Sub Category Id:</label
                >
                <p-dropdown
                    [options]="sub_id_select"
                    formControlName="SubCategoryId"
                    placeholder="SubCategory Id"
                    [showClear]="true"

                ></p-dropdown>
            </div>
        </div>
    </form>
    <div class="flex gap-2 justify-content-end  pt-3" >
        <button
            *ngIf="!selectedRow"
            pButton
            label="Submit"
            (click)="add_Pension_category()"
            class="p-element p-ripple p-button-rounded p-button p-component"
            [disabled]="!PensionForm.valid"
        ></button>
        <button
            pButton
            label="Cancel"
            (click)="cancelPensionCategory()"
            class="p-element p-ripple p-button-rounded p-button p-component"
        ></button>
    </div>
</p-dialog>
