/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";

/*------------CUSTOM---------------*/
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout-topbar-menu.layout-topbar-menu-mobile-active {
    z-index: 5 !important;
}

.swal2-container {
    z-index: 99999999 !important;
}

.loading-text {
    top: 50% !important;
}

.customer-badge {
    &.status-bill_received {
        background: #b3e5fc !important;
        color: #23547b !important;
    }

    &.status-retrun_memo_generated {
        background: #ffcdd2;
        color: #c63737;
    }

    &.status-da_froward {
        background: #c8e6c9;
        color: #256029;
    }

    &.status-da_objected {
        background: #ffd8b2;
        color: #805b36;
    }

    &.status-ac_froward {
        background: #c8e6c9;
        color: #256029;
    }

    &.status-ac_objected {
        background: #ffd8b2;
        color: #805b36;
    }

    &.status-to_froward {
        background: #c8e6c9;
        color: #256029;
    }
    &.status-to_objected {
        background: #ffd8b2;
        color: #805b36;
    }
    &.status-bill_clear {
        background: #c8e6c9;
        color: #256029;
    }
    &.status-bill_clear {
        background: #c8e6c9;
        color: #256029;
    }
    &.status-Global {
        background: #eccfff;
        color: #694382;
    }
    &.status-Local {
        background: #b3e5fc;
        color: #23547b;
    }
}

// Scroll-Bar
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 12px;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background: #797979;
}
.p-calendar {
    width: 100% !important;
}
.file::-webkit-file-upload-button {
    background: transparent;
    border: none;
}
