<div class="grid fadein animation-duration-500">

  <app-option-card logo='vendor-entry' optionName="PPO" class="col-12 lg:col-6 xl:col-3" [routerLink]="['ppo']"></app-option-card>
  <app-option-card logo='work-in-progress' optionName="Pensioner Details" class="col-12 lg:col-6 xl:col-3"></app-option-card>

  <app-option-card logo='bills' optionName="Pension Bill" class="col-12 lg:col-6 xl:col-3" [routerLink]="['pension-bill']"></app-option-card>

  <app-option-card logo='work-in-progress' optionName="Approval" class="col-12 lg:col-6 xl:col-3"></app-option-card>
  <app-option-card logo='work-in-progress' optionName="Bill Print" class="col-12 lg:col-6 xl:col-3"></app-option-card>

</div>