<div class="grid fadein animation-duration-500">

  <app-option-card logo='stamp' optionName="PPO" class="col-12 lg:col-6 xl:col-3" [routerLink]="['ppo']"></app-option-card>
  <app-option-card logo='stamp' optionName="Pensioner Details" class="col-12 lg:col-6 xl:col-3"></app-option-card>

  <app-option-card logo='stamp' optionName="Pension Bill" class="col-12 lg:col-6 xl:col-3" [routerLink]="['pension-bill']"></app-option-card>

  <app-option-card logo='stamp' optionName="Approval" class="col-12 lg:col-6 xl:col-3"></app-option-card>
  <app-option-card logo='stamp' optionName="Bill Print" class="col-12 lg:col-6 xl:col-3"></app-option-card>

</div>