<!-- <label for="micr" class="block mb-1 text-color text-lg">MICR</label> -->
<div class="p-inputgroup">
    <input type="number" pInputText placeholder="MICR Code"
        class="p-inputtext p-component p-element w-full" [(ngModel)]="selectedMicrCode" (change)="emitInputValueChange()">
    <button type="button" pButton pRipple label="Find"
        (click)="showBankDetails()" ></button>
</div>


<p-dialog header="Find MICR Code" [(visible)]="displayModal" [modal]="true" [style]="{width: '40vw'}"
    [baseZIndex]="10000" [draggable]="false">
    <div class="flex flex-wrap gap-3 p-fluid">
        <div class="flex-auto">
            <p-dropdown appendTo="body" [filter]="true" filterBy="name" [options]="bankList " placeholder="Select Bank"
                optionLabel="name" [showClear]="true" [(ngModel)]="selectedBank" (onChange)="getBranchList()">
            </p-dropdown>
        </div>
        <div class="flex-auto">
            <div class="flex-auto">
                <p-dropdown appendTo="body" [filter]="true" filterBy="name" [options]="branchlist"
                    placeholder="Select Branch" optionLabel="name" [showClear]="true" [(ngModel)]="selectedBranch"
                    (onChange)="getBranchDeatils()">
                </p-dropdown>
            </div>
        </div>
    </div>
    <div class="mt-5" *ngIf="bankDetails">
        <div class="mt-5" *ngIf="bankDetails">
            <div class="grid grid-nogutter static bg-primary-100 border-round border-primary border-solid text-gray-800 p-3" style="min-width: 300px; min-height: 150px;">
                <div class="col-12 md:col-6 flex">
                    <div class="font-medium mb-2 mr-2 text-lg">
                        Bank:
                    </div>
                    <div class="text-900 text-lg text-primary-500 font-semibold">
                        {{selectedBank.name}}
                    </div>
                </div>
                <div class="col-12 md:col-6 flex">
                    <div class="font-medium mb-2 mr-2 text-lg">
                        MICR Code:
                    </div>
                    <div class="text-900 text-lg text-primary-500 font-semibold">
                        {{bankDetails.mircCode}}
                    </div>
                </div>
                <div class="col-12 md:col-6 flex">
                    <div class="font-medium mb-2 mr-2 text-lg">
                        Branch:
                    </div>
                    <div class="text-900 text-lg text-primary-500 font-semibold">
                        {{bankDetails.branchName}}
                    </div>
                </div>
                <div class="col-12 md:col-6 flex">
                    <div class="font-medium mb-2 mr-2 text-lg">
                        Address:
                    </div>
                    <div class="text-900 text-lg text-primary-500 font-semibold">
                        {{bankDetails.branchAddress}}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex gap-2 justify-content-end pt-3">
            <p-button label="Copy" icon="pi pi-copy" (onClick)="setMicrCodeInputField(bankDetails.mircCode)"></p-button>
        </div>
    </div>
    </p-dialog>